html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    font: #{$default-font-weight} #{$default-font-style} #{$default-font-size} / #{$default-line-height} #{$default-font-family};
    color: $default-color;
    background-color: $body-bg;
    min-width: 320px;
}

.layout {
    position: relative;
    overflow: hidden;
    min-height: 100%;
}

.container-lg {
    max-width: 1154px;
}

.container-sm {
    max-width: 788px;
}

h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: $h2-color;
    margin: 28px 0 11px;
    text-align: center;
    
    @include media-breakpoint-up(lg) {
        margin: 31px 0 17px;
        text-align: left;
        font-size: 30px;
        line-height: 36px;
    }
}

p {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: $p-color;
    margin: 6px 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

a {
    cursor: pointer;
}

.row.no-gutter-between-xl {

    @include media-breakpoint-up(xl) {
        .col-xl {
            &:not(:first-child):not(:last-child) {
                padding-left: 0;
                padding-right: 0;
            }

            &:first-of-type {
                padding-right: 0;
            }
            
            &:last-of-type {
                padding-left: 0;
            }
        }
    }
}

.flex-xl-grow-0 {
    @include media-breakpoint-up(xl) {
        flex-basis: auto;
        width: auto;
    }
}

img {
    max-width: 100%;
}

.page-content-wrap {
    color: $page-content-wrap-color;

    .title {
        margin-bottom: 36px;
    }

    p {
        margin-bottom: 30px;
    }
}

.image-caption {
    margin: 10px 0;
    color: $image-caption-color;
    font-size: 10px;
    line-height: 1.2;
}