<template>
  <div class="container">
        <date-range-picker
            @update="updated"
            :locale-data="locale"
            opens="right"
            minDate="2019-09-20"
            maxDate="2019-11-02"
            :startDate="startDate"
            :endDate="endDate"
            :ranges=false
            :autoApply=true

        >
        </date-range-picker>
  </div>
</template>

<script>
   import { EventBus } from '../event.js';
    import DateRangePicker from 'vue2-daterange-picker'
    //import moment from 'moment'
    export default {
      name: 'DateRanger',
      components: { DateRangePicker },
      props: [
          'startDate',
          'endDate',
      ],
      data () {
        return {
          locale: {
                  direction: 'ltr', //direction of text
                  format: 'DD-MMM', //fomart of the dates displayed
                  separator: ' - ', //separator between the two ranges
                  firstDay: 1, //ISO first day of week - see moment documenations for details
              },
            ranges: {},
        }
      },
      methods: {
        updated(value) {
          //this.startDate=value.startDate
          //this.endDate=value.endDate
          this.$emit('update',value)
        },
      },
      mounted() {
      }
    }
</script>
