<template>
<div class="ticket-type">

    <ticket :exceeded="exceeded" @deductTicket="deductTotalTicket(ticket)" @incrementTicket="incrementTotalTicket(ticket)" v-for="ticket in tickets" :ticket="ticket"></ticket>

    <div class="order-summary">
        <h1 class="subSecTitle"><strong>Order Summary</strong></h1>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>

                    <tr v-for="ticket in orderedTickets">
                        <td>{{ ticket.title }}</td>
                        <td>1</td>
                        <td>RM {{ ticket.price }}</td>
                    </tr>

                    <tr class="total">
                        <td>Total</td>
                        <td>{{ totalTicketCount }}</td>
                        <td>RM {{ cartTotal }}</td>
                    </tr>
                </tbody>
            </table>

        <a v-if="totalTicketCount > 0" class="btn btn-danger btn-lg getTix-btn" href="/cart" role="button">Checkout</a>
    </div>

</div>
</template>

<script>
    export default {

        props: ['concert'],

        data() {

            return { tickets: [], orderedTickets: [], totalTicketCount: 0, exceeded: false, cartTotal: 0 }

        },

        methods: {

            incrementTotalTicket: function(ticket)
            {
                this.totalTicketCount++;

                this.disableAddToCart = false;

                this.orderedTickets.push(ticket);

                if(this.totalTicketCount == 10)
                {

                    this.exceeded = true;

                }

                this.calculateTotal();

            },

            deductTotalTicket: function(ticket)
            {

                this.totalTicketCount--;

                if (this.totalTicketCount == 0)
                {
                    this.disableAddToCart = true;
                }

                this.orderedTickets.splice(this.orderedTickets.indexOf(ticket), 1);

                this.exceeded = false;

                this.calculateTotal();

            },

            calculateTotal: function() {

                var self = this;

                var total = 0;

                self.orderedTickets.filter(function(obj) {

                    total += obj.price;

                });

                self.cartTotal = total;
            }


        },

        mounted() {

            axios.get('/concerts/find/' + this.concert).then(response => this.tickets = response.data);

        }
    }
</script>
