<template>
    <div :class="{ 'tt-selected': selected, 'out-of-stock': ticketOutOfStock(ticket), 'low-in-stock': ticketLowInStock(ticket), 'available' : ticketAvailable(ticket), 'selling-fast': ticketSellingFast(ticket)  }" class="ticket-type-box">

        <div class="tt-head">

            <div class="seatCat pull-left"> {{ ticket.title }}</div>

            <div class="seatPrice pull-right">rm {{ ticket.price }}</div>

        </div>

        <div class="tt-body">

            <div v-html="ticket.description" class="seatNote pull-left"></div>

            <div class="seatQuantity pull-right">

                <button :class="{ 'disabled': disableRemovingTickets }" class="subMinus button" @click="removeFromCart(ticket)">-</button>

                <input type="text" readonly="readonly" v-model="ticketcount" class="field" />

                <button @exceededTotalTicket="disableAddButton" :class="{ 'disabled': disabled, 'disabled': exceeded }" class="button addPlus" @click="addToCart(ticket)">+</button>

            </div>

        </div>

    </div>

</template>

<script>
    export default {

        props: ['ticket', 'exceeded'],

        data() {

            return { cartTicket: [], ticketcount: 0, disabled: false, selected: false, disableRemovingTickets: true }
        },

        methods: {

            removeFromCart: function(ticket) {

                this.ticketcount--;

                this.$emit('deductTicket');

                this.popFromCart(ticket);

                if(this.ticketcount == 0)
                {
                    this.selected = false;

                    this.disableRemovingTickets = true;

                }

            },

            addToCart: function(ticket) {

                if (ticket.stock > this.ticketcount)
                {
                    this.ticketcount++;

                    this.$emit('incrementTicket');

                    this.pushToCart(ticket);

                    this.selected = true;

                    this.disableRemovingTickets = false;
                }

            },

            disableAddButton()
            {
                this.disabled = true;
            },

            ticketOutOfStock(ticket)
            {
                if (ticket.stock < 1)
                {
                    return true;
                }
            },

            ticketLowInStock(ticket)
            {
                if (ticket.stock > 1 && ticket.stock <= 50)
                {
                    return true;
                }
            },

            ticketSellingFast(ticket)
            {
                if (ticket.stock > 50 && ticket.stock <= 100)
                {
                    return true;
                }
            },

            ticketAvailable(ticket)
            {
                if (ticket.stock > 100)
                {
                    return true;
                }
            },

            getTicketCount(ticket){
                console.log('getticketcount');

                var self = this;

                axios.get('/cart/get/ticket/' + ticket.id).then(function(data){

                    if(data.data.qty){

                        self.ticketcount = data.data.qty;

                        for(var i=0; i<data.data.qty; i++){

                            self.$emit('incrementTicket');

                        }

                        self.disableRemovingTickets = false;

                    } else {

                        self.ticketcount = 0;

                    }

                });
            },

            pushToCart(ticket)
            {

                axios.post('/cart', this.ticket)
                .then(function (response) {

                    console.log(response);

                })
                .catch(function (error) {

                    console.log(error);

                });
            },

            popFromCart(ticket)
            {

                axios.put('/cart/' + this.ticket.id, this.ticket)
                    .then(function (response) {

                        console.log(response);

                    })
                    .catch(function (error) {

                        console.log(error);

                    });

            }

        },

        mounted() {

            var self = this;
            self.getTicketCount(self.ticket);
        }

    }
</script>
