<template>
  <div>
    <div class="shadow-wrapper category-holder">
      <div class="d-flex justify-content-between align-items-center shadow-container category" :class="`cat-${getCategoryBackground(catType)}`">
        <!-- CATEGORY TYPE -->
        <div class="d-flex justify-content-center align-items-center category__title-block">
          <div class="category__title">category</div>
          <div class="category__type" :style="{ backgroundImage: `url('${categoryLetter}')` }"></div>
        </div>
        <!-- LINE -->
        <div class="downhill-line d-none d-md-block"></div>
        <!-- MATCH -->
        <div class="match__block d-none d-md-block">
          <div class="match__date mb-5">
            {{category.date | moment("DD MMMM YYYY")}}, 
            (GMT+9) {{category.date | moment("HH:mm")}}
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <div class="match__participant-flag" :style="{ backgroundImage: `url('${imagesPath}flags/sm/${category.participant1_flag}')`}"></div>
              <div class="match__participant-country">{{category.participant1_name}}</div>
            </div>
            <div class="vs mb-4">V</div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <div class="match__participant-flag" :style="{ backgroundImage: `url('${imagesPath}flags/sm/${category.participant2_flag}')`}"></div>
              <div class="match__participant-country">{{category.participant2_name}}</div>
            </div>
          </div>
        </div>
        <div class="match__block-short d-md-none">
          <div class="d-flex justify-content-start align-items-center mb-3">
            <span class="title-icon ticket"></span>
            <span>{{category.participant1_name}} v {{category.participant2_name}} - {{packageInfo.title}}</span>
          </div>
<!--          <div class="d-flex justify-content-start align-items-center">-->
<!--            <span class="title-icon ticket"></span>-->
<!--            <span>New Zealand v South Africa2222</span>-->
<!--          </div>-->
        </div>
        <!-- LINE -->
        <div class="downhill-line deg-10 d-none d-md-block"></div>
        <!-- SELECTION -->
        <div class="d-flex align-items-center select-block">
          <div v-if="catType!='D'" class="category__price">
            +RM {{currentPrice}}
          </div>
          <button 
            type="button" 
            class="btn btn-gradient-select btn-gradient" 
            :class="categorySelected?'checked':''"
            @click="selectCategory()">Select
          </button>
        </div>
        <!-- CATEGORY INFO -->
        <a :href="'#categoryDetailsModal' + catType+category.id" data-toggle="modal"
          class="d-flex justify-content-center align-items-center category__info">i
        </a>
      </div>
    </div>

    <!-- START CATEGORY MODAL -->
    <div class="modal fade category-popup" :id="'categoryDetailsModal' + catType+category.id" tabindex="-1" role="dialog" aria-labelledby="categoryDetailsModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header flex-column justify-content-center align-items-center">
            <button type="button" class="close-button" data-dismiss="modal" aria-label="Close">
            </button>
            <div class="title text-uppercase">category {{category.type}}</div>
            <div class="participants">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="match__participant-flag" :style="{ backgroundImage: `url('${imagesPath}flags/sm/${category.participant1_flag}')`}"></div>
                <div class="match__participant-country">{{category.participant1_name}}</div>
              </div>
              <div class="vs mb-4">V</div>
              <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="match__participant-flag" :style="{ backgroundImage: `url('${imagesPath}flags/sm/${category.participant2_flag}')`}"></div>
                <div class="match__participant-country">{{category.participant2_name}}</div>
              </div>
            </div>
          </div>
          <div class="modal-body" :class="`tokyo-${getCategoryBackground(catType)}`">
            <div>
              {{category.date | moment("ddd DD MMMM YYYY")}}, (GMT+9) {{category.date | moment("HH:mm")}}
            </div>
            <div>{{category.venue}}</div>
          </div>
        </div>
      </div>
    </div>
  <!--    END CATEGORY MODAL-->
    <!-- START CONFIRM MODAL -->
    <div class="modal fade category-popup" :id="'categoryConfirmModal' + catType+category.id" tabindex="-1" role="dialog" aria-labelledby="categoryConfirmModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header flex-column justify-content-center align-items-center" style="height: 200px">
            <button type="button" class="close-button" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body confirm-category" style="height: auto;padding: 20px 50px;">
              You can only select tickets from one category. Un-select your tickets first and then order tickets from a different category.
          </div>
        </div>
      </div>
    </div>
    <!--    END CONFIRM MODAL-->
  </div>
</template>

<script>
  import { EventBus } from '../../event.js';
  import { mapGetters } from 'vuex';

  export default {
    name: 'category',
    props: {
      category: {
        type: Object,
        default: () => ({})
      },
      catType: {
        required:true,
      },
      categorySelected: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
      }
    },
    computed: {
      ...mapGetters([
        'imagesPath',
        'packageInfo',
      ]),
      currentPrice () {
        switch (this.catType) {
          case 'B':
            return this.category.cat_B;
          case 'C':
            return this.category.cat_C;
          case 'D':
            return this.category.cat_D;
        }
        return 0
      },

      categoryLetter () {
        switch (this.catType) {
          case 'B':
            return `${this.imagesPath}B.png`;
            break;
          case 'C':
            return `${this.imagesPath}C.png`;
            break;
          case 'D':
            return `${this.imagesPath}D.png`;
            break;        
        }
      },
    },
    methods: {
      getCategoryBackground (type) {
        return type.toLowerCase();
      },

      selectCategory () {
        EventBus.$emit('categorySelected',{'catType':this.catType,'selected':this.categorySelected,'id':this.category.id})
      }
    },
  }
</script>