<template>
  <div>
    <div class="shadow-wrapper" :class="{'with-details': flightDetails}">
      <div class="d-flex justify-content-between align-items-center shadow-container flight flex-wrap">
          <!-- DEPARTURE -->
          <div class="d-flex flex-column justify-content-center info-block">
            <div class="d-flex justify-content-center align-items-center mb-4">
              <span class="title-icon up"></span>
              <span>Departure</span>
            </div>
            <div class="d-flex align-items-center mb-2">
              <div>
                <div class="from-to">From</div>
                <div class="flight__point">{{packageInfo.flight.city_origin.abbr}}</div>
              </div>
              <div class="d-flex justify-content-between align-items-center flight__path">
                <div class="flight__circle"></div>
                <div class="flight__line"></div>
                <i class="fa fa-angle-right"></i>
                <div class="flight__circle"></div>
              </div>
              <div>
                <div class="from-to">To</div>
                <div class="flight__point">{{packageInfo.flight.city_destination.abbr}}</div>
              </div>
            </div>
            <div class="flight__airport">{{packageInfo.flight.city_origin.airport}}</div>
            <!-- <div v-if="flight.departure.hasTransit" class="flight__transit d-none d-md-block">
              1h 20 minutes layover in {{flight.departure.transit.city}}
            </div> -->
            <div class="flight__date">{{packageInfo.flight.date_origin_1 | moment("ddd, MMM DD, YYYY")}}</div>
            <div class="flight__time">{{packageInfo.flight.date_origin_1 | moment("HH:mm")}}</div>
          </div>
          <!-- LINE -->
          <div class="downhill-line deg-15"></div>
          <!-- RETURN -->
          <div class="d-flex flex-column justify-content-center info-block">
            <div class="d-flex justify-content-center align-items-center mb-4">
              <span class="title-icon down"></span>
              <span>Return</span>
            </div>
            <div class="d-flex align-items-center mb-2">
              <div>
                <div class="from-to">From</div>
                <div class="flight__point">{{packageInfo.flight.city_destination.abbr}}</div>
              </div>
              <div class="d-flex justify-content-between align-items-center flight__path">
                <div class="flight__circle"></div>
                <div class="flight__line"></div>
                <i class="fa fa-angle-right"></i>
                <div class="flight__circle"></div>
              </div>
              <div>
                <div class="from-to">To</div>
                <div class="flight__point">{{packageInfo.flight.city_origin.abbr}}</div>
              </div>
            </div>
            <div class="flight__airport">{{packageInfo.flight.city_destination.airport}}</div>
            <!-- <div v-if="flight.return.hasTransit" class="flight__transit d-none d-md-block">+1 Transit</div> -->
            <div class="flight__date">{{packageInfo.flight.date_destination_1 | moment("ddd, MMM DD, YYYY")}}</div>
            <div class="flight__time">{{packageInfo.flight.date_destination_1 | moment("HH:mm")}}</div>
          </div>
          <!-- LINE -->
          <div class="downhill-line deg-10 d-none d-md-block"></div>
          <!-- SELECTION -->
          <div class="d-flex align-items-center select-block">
            <div class="btn-wrap d-flex align-items-center">
              <button 
                type="button" 
                class="btn btn-gradient-select btn-gradient" 
                :disabled="flightSelected"
                @click="selectFlight">Select
              </button>
            </div>
            <div class="d-flex align-items-center" @click="showFlightDetails()">
              <span class="info">Flight Info</span>
              <i class="fa" :class="{'fa-angle-down': !flightDetails, 'fa-angle-up': flightDetails}"></i>
            </div>
          </div>
      </div>
    </div>

    <!-- FLIGHT DETAILS -->
    <div v-if="flightDetails" class="flight-details-wrapper">
      <div class="d-flex align-items-center flight-details-tabs">
        <div class="tab" 
          v-for="tab in detailsTabs" 
          :key="tab.section"
          :class="{'active': infoSection == tab.section }"
          @click="showInfoSection(tab.section)">{{tab.title}}
        </div>
      </div>

      <div class="tab-content">
        <div v-if="infoSection == 'departure'">
            <!-- <div v-if="!flight.departure.hasTransit"> -->
              <flight-details :details-from="packageInfo.flight.city_origin"
                              :details-to="packageInfo.flight.city_destination"
                              :dt-start="packageInfo.flight.date_origin_1"
                              :dt-end="packageInfo.flight.date_origin_2"
                              :flight-number="packageInfo.flight.origin_number"
                              :flight-names="flightNames"
              >

              </flight-details>
            <!-- </div> -->
            <!-- <div v-else>
              <flight-details :details-from="flight.departure.from" :details-to="flight.departure.transit"></flight-details>
              <div class="flight-transit text-center">
                Transit for 1 hour 30 minutes in {{flight.departure.transit.city}}  
              </div>
              <flight-details :details-from="flight.departure.transit" :details-to="flight.departure.to"></flight-details>
            </div> -->
        </div>
        <div v-if="infoSection == 'return'">
            <!-- <div v-if="!flight.return.hasTransit"> -->
              <flight-details :details-from="packageInfo.flight.city_destination"
                              :details-to="packageInfo.flight.city_origin"
                              :dt-start="packageInfo.flight.date_destination_1"
                              :dt-end="packageInfo.flight.date_destination_2"
                              :flight-number="packageInfo.flight.destination_number"
                              :flight-names="flightNames">

              </flight-details>
            <!-- </div> -->
            <!-- <div v-else>
              <flight-details :details-from="flight.return.from" :details-to="flight.return.transit"></flight-details>
              <div class="flight-transit text-center">
                Transit for 1 hour 30 minutes in {{flight.return.transit.city}}  
              </div>
              <flight-details :details-from="flight.return.transit" :details-to="flight.return.to"></flight-details>
            </div> -->
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import moment from 'moment';
  import {EventBus} from "../../event";
  import { mapGetters } from 'vuex';

  export default {
    name: 'flight',
    props: {
      flightSelected: false,
      flightNames: null
    },
    data() {
      return {
        flightDetails: false,
        flightCityFullName: '',
        infoSection: 'departure',
        detailsTabs: [
          { title: 'DEPARTURE FLIGHT', section: 'departure' }, 
          { title: 'RETURN FLIGHT', section: 'return' }
        ]
      }
    },
    computed: {
      ...mapGetters([
        'packageInfo',
      ]),
      // flightDuration () {
      //   var dateFrom = moment(this.detailsFrom.date);
      //   var dateTo = moment(this.detailsTo.date);
      //   return moment.utc(dateTo.diff(dateFrom)).format('H') + ' hours ' + moment.utc(dateTo.diff(dateFrom)).format('mm') + ' minutes';
      // },
    },
    methods: {
      showFlightDetails () {
        this.flightDetails = !this.flightDetails;
      },

      showInfoSection (section) {
        this.infoSection = section;
      },

      selectFlight () {
        EventBus.$emit('flightSelected');
      }
    },
    mounted() {
      EventBus.$on('searchChanged', data => {
        this.flightDetails=false
      });

    }
  }
</script>