<template>
  <div class="d-flex flight-info">
    <!-- FLIGHT NUMBER -->
    <div class="flight-info__number">
      {{flightNumber}}
      <div class="flight-info__airline">AirAsia</div>
    </div>
    <div class="d-flex flight-info__wrapper">
      <!-- FLIGHT DURATION -->
      <div class="d-flex flex-column justify-content-between flight-info__duration">
        <div class="flight__circle top"></div>
        <div>
          <div class="time">{{dtStart | moment("HH:mm")}} <span class="gmt">(GMT+8)</span></div>
          <div class="date">{{dtStart | moment("ddd, MMM DD, YYYY")}}</div>
        </div>
        <div class="duration">{{flightDuration}}</div>
        <div>
          <div class="time">{{dtEnd | moment("HH:mm")}} <span class="gmt">(GMT+8)</span></div>
          <div class="date">{{dtEnd | moment("ddd, MMM DD, YYYY")}}</div>
        </div>
        <i class="fa fa-angle-down"></i>
        <div class="flight__circle bottom"></div>
      </div>
      <!-- FLIGHT AIRPORTS -->
      <div class="d-flex flex-column justify-content-between flight-info__airports">
        <div>
          <div class="airport-title">{{detailsFrom.name}} ({{detailsFrom.abbr}})</div>
          <div class="airport-full-title">{{detailsFrom.airport}}</div>
        </div>
        <div>
          <div class="airport-title">{{detailsTo.name}} ({{detailsTo.abbr}})</div>
          <div class="airport-full-title">{{detailsTo.airport}}</div>
        </div>
      </div>
    </div>
    <!-- FLIGHT BAGGAGE -->
    <div class="flight-info__baggage">
      <div class="d-flex align-items-center mb-3">
        <span class="baggage-title">Luggage</span>
        <span class="baggage-weight">1 x 20 kg</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="baggage-title">Cabin baggage</span>
        <span class="baggage-weight">1 x 7 kg</span>
      </div>
    </div>
  </div>
</template>

<script>
  import moment from 'moment';

  export default {
    name: 'FlightDetails',
    props: {
      detailsFrom: {
        type: Object,
        default: () => ({})
      },    
      detailsTo: {
        type: Object,
        default: () => ({})
      }, 
      flightNames: null ,
      dtStart: '',
      dtEnd: '',
      flightNumber:'',
    },
    data() {
      return {
      }
    },
    computed: {
      flightDuration () {
        var dateFrom = moment(this.dtStart);
        var dateTo = moment(this.dtEnd);
        return moment.utc(dateTo.diff(dateFrom)).format('H') + ' hours ' + moment.utc(dateTo.diff(dateFrom)).format('mm') + ' minutes';
      },
    },
  }
</script>