<template>
  <div class="shadow-wrapper">
    <div class="d-flex shadow-container hotel"> 
      <!-- HOTEL IMAGE -->
      <div class="hotel__image" :style="{ backgroundImage: `url('${imagesPath}${hotel.picture}')` }"></div>
      <div class="hotel__background"></div>
      <div class="d-flex hotel__info">
        <!-- HOTEL INFO -->
        <div class="hotel__details">
          <div class="name mb-2">
            {{hotel.roomType}} room at {{hotel.name}}
          </div>
          <div class="address">
            {{hotel.address}}        
          </div>
          <div class="term mb-4 d-none d-md-block">
            {{hotel.days}}-Days {{hotel.nights}}-Nights            
          </div>
          <div class="hotel__features">
            <div>
              <div class="d-flex align-items-center mb-2" v-for="feature in hotel.features" :key="feature.title">
                <span class="title-icon" :class="feature.icon"></span>
                <span>{{feature.title}}</span>
              </div>
            </div>
            <div class="term mb-4 d-md-none">
              {{hotel.days}}-Days {{hotel.nights}}-Nights             
            </div>
          </div>
        </div>
        <!-- LINE -->
        <div class="downhill-line deg-10 d-none d-md-block"></div>
        <!-- SELECTION -->
        <div class="d-flex align-items-center select-block">
            <button 
              type="button" 
              class="btn btn-gradient-select btn-gradient" 
              :disabled="hotelSelected"
              @click="selectHotel()">Select
            </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {EventBus} from "../../event";
  import { mapGetters } from 'vuex';

  export default {
    name: 'hotel',
    props: {
      hotelInfo: {
        required:true,
      },
      hotelSelected: false,
    },
    data() {
      return {
        hotel: {
          name: '',
          address: '',
          roomType: '',
          picture: '',
          features: [
            { 
              title:'Breakfast', 
              icon: 'breakfast',
            },
            {
              title: 'Air conditioner',
              icon: 'conditioner',
            },
            {
              title: 'Free Wi-fi',
              icon: 'wifi',
            },
          ],
          days: 0,
          nights: 0,
        }
      }
    },
    computed: {
      ...mapGetters([
        'imagesPath',
      ]),
    },
    methods: {
      selectHotel () {
        EventBus.$emit('hotelSelected')
      }
    },
    beforeMount() {
      this.hotel.name = this.hotelInfo.hotel_name
      this.hotel.address = this.hotelInfo.address
      this.hotel.roomType = this.hotelInfo.roomType
      this.hotel.days = this.hotelInfo.days
      this.hotel.nights = this.hotelInfo.night
      this.hotel.picture = this.hotelInfo.hotel_img
    }
  }
</script>