<template>
    <div>
        <div class="package-builder">
            <div class="row">
                <div class="col-lg-12 col-sm-12">

                    <div class="search-panel align-items-center justify-content-between">
                        <!--<div class="row align-items-center justify-content-between">-->
                            <div class="flight-holder-origin">
                                <label class="up-text" for="search-flight">Origin</label>
                                <select v-model="flight"
                                        id="search-flight"
                                        class="custom-select tenure"
                                >
                                    <option v-for="(val, key) in originFlighs" :value="key">{{val}}</option>
                                </select>
                            </div>
                            <div class="flight-holder">
                                <div class="flight">
                                    <span class="up-text">Destination</span><br>
                                    <span class="bottom-text">Hanida, Japan (HND)</span>
                                </div>
                            </div>
                            <div class="travelers-rooms" :class="isHotelExistInThisPackage?'':'travelers-rooms-travel-holder'">
                                <span class="up-text">Travelers</span>
                                <div class="input-group grp travelers-rooms-travel">
                                    <button type="button" class="quantity-left-minus btn btn-number btn-pink btn-left"  data-type="minus" data-field=""  @click="addTraveler(-1)" :disabled="isTravelersSub">
                                      <span class="iconart iconart-minus"></span>
                                    </button>
                                    <input type="text" id="travelers" name="travelers" class="counter-number" v-model="travelers" min="1" max="4" size="1" readonly>
                                    <button type="button" class="quantity-right-plus btn btn-number btn-pink btn-right" data-type="plus" data-field=""  @click="addTraveler(1)" :disabled="isTravelersAdd">
                                        <span class="iconart iconart-plus"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="travelers-rooms">
                                <div>
                                    <span class="up-text" v-show="isHotelExistInThisPackage">Rooms</span>
                                    <div class="input-group grp" v-show="isHotelExistInThisPackage">
                                        <button type="button" class="quantity-left-minus btn btn-number btn-pink btn-left"  data-type="minus" data-field="" @click="addRooms(-1)" :disabled="isRoomsSub">
                                          <span class="iconart iconart-minus"></span>
                                        </button>
                                        <input type="text" id="travelers" name="travelers" class="counter-number" v-model="rooms" min="1" max="4" size="1" readonly>
                                        <button type="button" class="quantity-right-plus btn btn-number btn-pink btn-right" data-type="plus" data-field="" @click="addRooms(1)" :disabled="isRoomsAdd">
                                            <span class="iconart iconart-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="travelers-rooms-btn justify-content-center d-flex">
                                <button type="button" class="btn btn-primary btn-search" @click="search">
                                    Search
                                </button>
                            </div>
                        <!--</div>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../../event.js';
    import $$ from 'jquery';
    import 'select2';
    export default {
        name: 'PackageBuilderSearchPanel',
        props: {
            packageInfo: {
                required: true
            },
        },
        data () {
            return {
                travelers:1,
                rooms:1,
                rules:[],
                flight:'',
                originFlighs:[],
            }
        },
        computed: {
          isTravelersSub: function() {
            return this.travelers<2;
          },
          isTravelersAdd: function() {
            return this.travelers>3;
          },
          isRoomsSub: function() {
            return this.rooms<=this.rules[this.travelers][0];
          },
          isRoomsAdd: function() {
            return this.rooms>=this.rules[this.travelers][1];
          },
            isHotelExistInThisPackage: function () {
                return this.packageInfo.hotel_id!==null
            },
        },
        methods: {
            changeFlight() {
                console.log('changeFlight')
            },
            addTraveler(val) {
                if(this.travelers+val>4 || this.travelers+val<1)
                    return;
                this.travelers=this.travelers+val
                if(this.rooms>this.rules[this.travelers][1])
                    this.rooms=this.rules[this.travelers][1]
                else if(this.rooms<this.rules[this.travelers][0])
                    this.rooms=this.rules[this.travelers][0]
            },
            addRooms(val) {
                if(this.rooms+val>this.rules[this.travelers][1]
                 || this.rooms+val<this.rules[this.travelers][0])
                    return;
                this.rooms=this.rooms+val
            },
            search() {
                 // let flight=$('#search-flight').val()
                let flight=this.flight
                // console.log('flight=',flight)

                axios.post('/rwc2019/packagebuilder/'+this.packageInfo.name+'/'+flight, null)
                    .then(response => {
                        if(200===response.status)
                        {
                            $('#packages-details').show();
                            this.$store.dispatch('clearAll',null)
                            this.$store.dispatch('setPackageInfo', {'travelers':this.travelers,'rooms':this.rooms,'packageInfo':response.data})
                            EventBus.$emit('searchChanged',null);
                            $('body,html').animate({
                                scrollTop: $('#packages-details').offset().top - 60
                            }, 500);
                        }else {
                            console.log('Error when send search', response)
                        }
                    }).catch(error => {
                    console.log('Error with connect after search',error.message)
                    return false;
                });


            },
            formatTenureState(state) {
                return state.text;
            },
            onResizeWindow(e) {
                let w=$('.flight-holder').width()+40;
                $('.select2-container').width(w)
            },
        },
        beforeMount () {
            this.rules[0]=[1,1]
            this.rules[1]=[1,1]
            this.rules[2]=[1,2]
            this.rules[3]=[2,3]
            this.rules[4]=[2,4]

            this.flight = 2//'KUL'
            this.originFlighs=this.packageInfo.flightNames
        },
        mounted() {
            $$('.custom-select.tenure').select2({
                templateResult: this.formatTenureState,
                templateSelection: this.formatTenureState,
                minimumResultsForSearch: Infinity,
                theme: "default"
            }).data('select2');
            $$('#search-flight').on('select2:select', function () {
                let flight=$('#search-flight').val()
                EventBus.$emit('setflight',flight)
            });
            EventBus.$on('setflight', data => {
                this.flight=data
            });
        },
        beforeDestroy() {
            EventBus.$off('setflight')
        },
        created() {
            window.addEventListener("resize", this.onResizeWindow);
        },
        destroyed() {
            window.removeEventListener("resize", this.onResizeWindow);
        },
    }
</script>