<template>
    <div class="package-builder__container">
        <package-builder-search-panel :packageInfo="info"></package-builder-search-panel>
        <div class="row" id="packages-details" v-show="curState">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div v-if="curState != null" class="package-builder__title">FLIGHT</div>
                <flight :flight-selected="curState!='flight'" :flight-names="info.flightNames"></flight>
                <div v-if="showHotel">
                    <div class="package-builder__title">HOTEL</div>
                    <hotel :hotel-info="packageInfo.hotel" :hotel-selected="curState!='hotel'"></hotel>
                </div>
                <div v-if="curState=='category'">
                    <div class="package-builder__title">CATEGORY</div>
                    <category v-for="ticket in ticketsD" :category="ticket" cat-type="D" :category-selected="'D'==curCategory"></category>
                    <br><br><br>
                    <category v-for="ticket in ticketsC" :category="ticket" cat-type="C" :category-selected="'C'==curCategory"></category>
                    <br><br><br>
                    <category v-for="ticket in ticketsB" :category="ticket" cat-type="B" :category-selected="'B'==curCategory"></category>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
<!--                <package-builder-order-summary :eventTitle="packageInfo.title" url="/rwc2019/precognitix" method="post"></package-builder-order-summary>-->
                <package-builder-order-summary :eventTitle="packageInfo.title" url="http://staging.gapoora.com/api/v2/checkout/no-variants?xauth=5e709b659900d327e65d38c7743e26a70c386362" method="post"></package-builder-order-summary>
            </div>
        </div>
        <sponsor></sponsor>
    </div>
</template>

<script>
    import { EventBus } from '../../event.js';
    import { mapGetters } from 'vuex';

    export default {
        name: 'PackageBuilder',
        props: {
            info:null,
        },
        data() {
            return {
                //info:null,
                curState:null,
                games:null,
                show: false,
                curCategory:"",
            }
        },
        mounted() {
            EventBus.$on('searchChanged', data => {
                this.curState='flight'
            });
            EventBus.$on('flightSelected', data => {
                if(this.packageInfo.hotel) {
                    this.curState='hotel'
                } else {
                    this.curState='category'
                }
                this.$store.dispatch('selectedFlight',null)
            })
            EventBus.$on('hotelSelected', data => {
                this.curState='category'
                this.$store.dispatch('selectedHotel',null)
            });
            EventBus.$on('categorySelected', data => {
                if(data.selected) {//uncheck category
                    this.$store.dispatch('delTicketByCategory',this.curCategory);
                    this.curCategory=''
                }else {//select category
                    if(''!==this.curCategory) {
                        $("#categoryConfirmModal" + data.catType+data.id).modal('show')
                        return
                    }else {
                        this.curCategory = data.catType
                        let arr = []
                        if ('B' == data.catType) {
                            arr = this.ticketsB
                        } else if ('C' == data.catType) {
                            arr = this.ticketsC
                        } else {
                            arr = this.ticketsD
                        }
                        if (arr) {
                            arr.forEach(function (value, index) {
                                this.$store.dispatch('addTicket',
                                    {
                                        'type': data.catType,
                                        'id': value.id
                                    }
                                );
                            }, this)
                        }
                    }
                }
            });
        },
        computed: {
            ...mapGetters([
                'packageInfo',
                'ticketsB',
                'ticketsC',
                'ticketsD',
            ]),
            showHotel: function () {
              if(this.packageInfo&&this.packageInfo.hotel) {
                  if('hotel'===this.curState || 'category'===this.curState) {
                      return true
                  }
              }
              return false
            },
        },
    }
</script>
