.dropdown {

    .dropdown-menu {
        width: 100%;

        display: block;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.15s ease, visibility 0s ease 0.15s;
        box-shadow: $dropdown-box-shadow;
        padding: 20px 13px 10px 13px;
        margin-top: 0;

        &.with-scroll {
            padding-right: 5px;

            /******* Custom Scrollbar *********/
            ::-webkit-scrollbar {
                width: 5px;
                z-index: 9999;
            }

            ::-webkit-scrollbar-track {
                box-shadow: none;
            }

            ::-webkit-scrollbar-thumb {
                background: #56ccf2;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: #56ccf2;
            }
        }
        
        &.show {
            transition: opacity 0.15s ease, visibility 0s ease 0s;
            visibility: visible;
            opacity: 1;
        }
    }

    &.show {

        .btn.btn-select {

            & + .btn-select-arrow {
                transform: scaleY(-1);
            }
        }
    }

    .show-more {
        color: $dropdown-show-more-color;
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.02em;
        border-width: 0;
        background-color: transparent;
        padding: 0;
        outline-width: 0;
        border-bottom: 1px solid transparent;
        transition-duration: 0.15s;

        &:hover {
            border-color: $dropdown-show-more-color;
        }
    }
}