.flight-info {
  justify-content: space-between;
  padding: 20px 30px;
  line-height: $default-line-height;
  margin-bottom: 10px;

  &__number {
    font-size: 18px;
    letter-spacing: 1px;
    color: rgba(29, 29, 29, 0.75);
  }
  &__airline {
    color: rgba(29, 29, 29, 0.5);
    margin-top: 15px;
    font-weight: bold;
  }

  &__duration {
    position: relative;
    padding-left: 8px;
    margin-right: 40px;
    border-left: 1px dashed rgba(29, 29, 29, 0.35);

    .time {
      font-size: 16px;
      letter-spacing: 2px;
      color: rgba(29, 29, 29, 0.9);
      margin-bottom: 3px;
    }

    .gmt {
      font-size: 10px;      
      color: rgba(29, 29, 29, 0.3);      
    }

    .date {
      font-size: 12px;      
      color: rgba(29, 29, 29, 0.45);
    }

    .duration {
      font-size: 12px;
      color: rgba(29, 29, 29, 0.5);
      margin: 30px 0;
    }

    .fa.fa-angle-down {
      position: absolute;
      top: calc(50% - 3px);
      left: -6px;
      color: rgba(29, 29, 29, 0.45);
    }
  }

  &__airports {
    .airport-title {
      font-size: 16px;   
      font-weight: 700;   
      color: rgba(29, 29, 29, 0.9);
      margin-bottom: 5px;
    }

    .airport-full-title {
      font-size: 12px;
      color: rgba(29, 29, 29, 0.45);
    }
  }

  &__baggage {
    font-size: 14px;

    .baggage-title {
      color: rgba(29, 29, 29, 0.75);
      margin-right: 10px;
    }

    .baggage-weight {
      color: rgba(29, 29, 29, 0.4);
    }
  }
}

/******* MEDIA *******/
@include media-breakpoint-down(sm) {
  .flight-info {
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;

    &__number {
      margin-bottom: 20px;
    }
    &__airline {
      margin-top: 0px;
      margin-left: 25px;
      display: inline-block;
    }

    &__wrapper {
      width: 100%;
      justify-content: space-between;
    }

    &__duration {
      margin-right: 20px;
    }

    &__baggage {
      margin-top: 20px;

      & > div {
        justify-content: center;
      }
    }
  }
}