.component-match {
    padding: 10px 0;
    $border-radius: 5px;
    display: flex;
    text-align: center;
    
    @include media-breakpoint-up(md) {
        padding: 5px 0;
    }

    .pool {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        text-shadow: $match-pool-text-shadow;
        font-size: 12px;
        line-height: 15px;
        color: $match-pool-color;
        background-image: $match-pool-bg-image;
        background-size: cover;
        padding: 0 8px;
        width: 25px;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        word-wrap: break-word;
        //color: rgba(255, 255, 255, 0.9);
        
        @include media-breakpoint-up(md) {
            padding: 0 13px;
            width: 38px;
            font-size: 16px;
            line-height: 20px;
        }
        
        &.pool-a {
            background-color: $match-pool-a-bg-color;
        }
        
        &.pool-b {
            background-color: $match-pool-b-bg-color;
        }
        
        &.pool-c {
            background-color: $match-pool-c-bg-color;
        }
        
        &.pool-d {
            background-color: $match-pool-d-bg-color;
        }
        
        &.pool-not-known {
            background-color: $match-pool-not-known-bg-color;
        }
    }
    
    .match {
        background-color: $match-bg-color;
        border-top: $match-border;
        border-right: $match-border;
        border-bottom: $match-border;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-content: center;
        color: $match-color;
    }

    .date {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.03em;
        padding: 7px ($grid-gutter-width / 2) 12px;
        
        @include media-breakpoint-up(md) {
            padding-top: 11px;
            padding-bottom: 18px;
            font-size: 16px;
        }
    }

    .sides {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side {
        width: 123px;
        
        @include media-breakpoint-up(md) {
            width: 232px;
        }
    }

    .flag-img {
        margin-bottom: 9px;
        width: 31px;
        
        @include media-breakpoint-up(md) {
            margin: 0 2px 2px 0;
            width: 50px;
        }
    }

    .country {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: 20px;
        }
    }

    .divider {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 16px;
        
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
            margin-top: 6px;
            padding-left: 27px;
            padding-right: 25px;
            font-size: 36px;
        }
    }

    .location {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.03em;
        padding: 9px ($grid-gutter-width / 2) 7px;
        
        @include media-breakpoint-up(md) {
            padding-top: 18px;
            padding-bottom: 11px;
            font-size: 16px;
        }
    }
}