.modal-dialog {
    margin: 111px auto;
}

.modal-header {
    padding-top: 19px;
    padding-bottom: 2px;

    button {
        outline: none;
    }

    .close {
        background: url("#{$path-img}icons/close.svg") center no-repeat;
        width: 40px;
        height: 40px;
        opacity: 1;
        transition-duration: 0.15s;
    }

    .close-button {
        background: url("#{$path-img}icons/close-button.svg") center no-repeat;
        border: none;
        width: 21px;
        height: 21px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

.modal-title {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $modal-title-color;
    text-transform: uppercase;
}

.modal-body {
    padding-top: 7px;
    padding-bottom: 30px;
}

.modal-content {
    min-width: 320px;
    box-shadow: $modal-content-box-shadow;
}


.modal-footer {
    box-shadow: $modal-footer-box-shadow;
}

// Modal background
.modal-backdrop {
    &.in { 
        opacity: 0.5; 
    }
}