@media screen and (min-width: 768px) and (max-width: 1024px){
  	header.mainHeader .navbar-nav {
      	float: right!important; 
     	padding: 0px 0px; 
  }

  	header.mainHeader .navbar-collapse {
	    text-align: center!important;
	    padding-bottom: 10px;
	    background-color: transparent;
	}

	.navbar-collapse.collapse {
	    display: block!important;
	    height: auto!important;
	    padding-bottom: 0;
	    overflow: visible!important;
	}

	header.mainHeader .navbar-brand img {
	    width: 100px;
	    position: relative;
	    z-index: 1001;
	}

	header.mainHeader .navbar-nav li a {
	    font-family: open_sansregular;
	    color: #fff;
	    font-size: 12px;
	    text-transform: uppercase;
	    padding: 5px 21px;
	    margin-top: 10px;
	}

	header.mainHeader {
	    right: 0;
	    z-index: 1001!important;
	    height: 44px;
	}
}
.strikethrough {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}