.carousel-control.right {
    left: auto;
    right: 0;
    background-image: none !important;
    background-repeat:none !important;
  
}

.carousel-control.left {
    background-image: none !important; 
    background-repeat: none !important;
}

.check-pad{
    
padding-right: 54px;
}

.radioButton-env{
    background:white; 
    border-radius:50%;
    padding:8px 4px 11px 4px;
    border: 1px solid #cccccc;
}

.check-pad-row{

}


.color-list1{
    color: rgba(29, 29, 29, 0.65);
    font-size: 12px;
    font-weight: bold;

}
.manage-smart-loop1{
    margin-bottom: 25px; margin-left: 93px;}

    .manage-smart-loop img{
              height: 86px;
    }


.hide-div{
   
    display: hidden !important;
}
.time-span1{
    color: rgba(29, 29, 29);
}
.artist-s{
    border-bottom: 1px solid rgba(183, 173, 173, 0.65);
    margin: auto;
    display: table;
    text-align: center;
    color: rgba(29, 29, 29, 0.65);
    line-height: 22px;
    margin-bottom: 10px;
}
.ul-dot{
    font-size: 14px !important;
    padding-left: 18px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {

    
   
}

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.role-side
{
    background-image: url(../images/header/bgg1.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: 7px;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 051 css*/
.jssorb051 .i {position:absolute;cursor:pointer;}
.jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
.jssorb051 .i:hover .b {fill-opacity:.7;}
.jssorb051 .iav .b {fill-opacity: 1;}
.jssorb051 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}


.demo {
    width:100%;
}
.demo ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.demo ul li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
    
}

.demo ul.lSPager li {
    max-height: 81.33px;
}
.demo ul li img {
    display: block;
    width: 100%;
}



.ti-img-rol1{
      color:rgba(29, 29, 29, 0.65);
      text-align: center;
      font-weight: normal;
    }
     /* .lSSlideOuter .lSPager.lSGallery {
        height: 100px !important;
    }
    .lSSlideOuter .lightSlider {
        height: 350px !important;
    }
    .lSSlideOuter img{
        height: 365px;
        overflow: hidden;
        width: 100%;
    }

    .lSSlideOuter .lSPager.lSGallery img {
        display: block;
        height: auto;
        max-width: 100%;
        height: 99px !important;
        width: 125px !important;
    }  */
    .ti-img-rol2{
        color:rgba(29, 29, 29, 0.65);
        text-align: center;
        font-weight: normal;
      }
      .ti-img-rol3{
        color:rgba(29, 29, 29, 0.65);
        text-align: center;
        font-weight: normal;
      }
      .ti-img-rol4{
        color:rgba(29, 29, 29, 0.65);
        text-align: center;
        font-weight: normal;
      }
      .dark-bgg-tick{
          color: white;
          text-align: center;
          font-weight: normal;
      }
.ti-img-rol22{
    color:rgba(29, 29, 29, 0.65);
    text-align: center;
    font-weight: normal; 
    font-size: 20px;
}

.ti-img{
    margin: auto;
    width: 165px;
}
  /* .lSSlideOuter .lSPager.lSGallery {
        height: 100px !important;
    }
    .lSSlideOuter .lightSlider {
        height: 350px !important;
    }
    .lSSlideOuter img{
        height: 365px;
        overflow: hidden;
        width: 100%;
    }

    .lSSlideOuter .lSPager.lSGallery img {
        display: block;
        height: auto;
        max-width: 100%;
        height: 99px !important;
        width: 125px !important;
    } */
.white-bg{
    transition: background 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: #FFFFFF;
}
.dark-bg{
    transition: background 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: #333333;
}
.white-bg .ticket-pr{
    color:rgba(29, 29, 29, 0.45); text-align:center; font-weight:normal; margin-top: 30px; margin-bottom:25px;
}

.white-bg .ticket-prices{
    color:rgba(29, 29, 29, 0.45); text-align:center; font-weight:normal; margin-top: 30px; margin-bottom:25px;
}

.white-bg .ticket-area,
.white-bg .ticket-prices-section{
    background :white;
}


.white-bg .top-slider-opacity {
    margin-top: 60px;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    /* opacity: 0.8; */
    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.7) 20%,
    rgba(255, 255, 255, 0.9) 40%,
    rgba(255, 255, 255, 0.9) 80%,
    rgba(255, 255, 255, 1) 100%);
}

.white-bg .top-slider-opacity a,
.white-bg .top-slider-opacity a:hover
{
    background: white;
    opacity: 1;  
}
.white-bg .top-slider-opacity a.btn-primary
{
    background: #68BEB3;
    -webkit-box-shadow: -1px 2px 29px -3px rgba(104,190,179,1);
-moz-box-shadow: -1px 2px 29px -3px rgba(104,190,179,1);
box-shadow: -1px 2px 29px -3px rgba(104,190,179,1);
}
.white-bg .top-slider-opacity p.p-primary{
    color:#68BEB3;
}


.white-bg .top-slider-opacity p{
    color:rgba(29, 29, 29, 0.35);
}

.white-bg .color-list{
    color :rgba(29, 29, 29, 0.65);
    font-size: 12px;
   
}
.white-bg .type-set-pop a,
.white-bg .small-word,
.white-bg .size-handler h4,
.white-bg .time-span ,
.white-bg .small-hide
{
    color:rgba(29, 29, 29, 0.35);
}

.white-bg .pageCategory-section .importantNote,
.white-bg .pageCategory-section h2,
.white-bg .pageCategory-section ol,
.white-bg .pageCategory-section p
{
    color:rgba(29, 29, 29);
}




.dark-bg .ticket-pr{
    color:#FFFFFF; text-align:center; font-weight:normal; margin-top: 30px; margin-bottom:25px;
}

.dark-bg .ticket-prices{
    color: #FFFFFF; text-align:center; font-weight:normal; margin-top: 30px; margin-bottom:25px;
}
.child img {
    width: 90%;
    height: 142px;
    margin-top: 14px;
}
.dark-bg .ticket-area,
.dark-bg .ticket-prices-section{
    background :#333333;
}


.dark-bg .top-slider-opacity {
    margin-top: 60px;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    /* opacity: 0.8; */
    background-image: linear-gradient(to bottom,
    rgba(51, 51, 51, 0.1),
    rgba(51, 51, 51, 0.7) 20%,
    rgba(51, 51, 51, 0.9) 40%,
    rgba(51, 51, 51, 0.9) 80%,
    rgba(51, 51, 51, 1) 100%);
}





.dark-bg .top-slider-opacity a,
.dark-bg .top-slider-opacity a:hover
{
    background: white;
    opacity: 1;  
}
.dark-bg .top-slider-opacity a.btn-primary
{
    background: #68BEB3;
}
.dark-bg .top-slider-opacity p.p-primary{
    color:#68BEB3;
}


.dark-bg .top-slider-opacity p{
    color:#FFFFFF;
}

.dark-bg .color-list{
    color :#FFFFFF;
    font-weight: bold;
    font-size: 12px !important;
    padding-left: 0px !important; 
}
.dark-bg .type-set-pop a,
.dark-bg .small-word,
.dark-bg .size-handler h4,
.dark-bg .time-span ,
.dark-bg .small-hide,
.dark-bg .pageCategory-section .importantNote,
.dark-bg .pageCategory-section h2,
.dark-bg .pageCategory-section ol,
.dark-bg .pageCategory-section p
{
    color:#FFFFFF;
}




.size-handler{
        overflow: hidden;

}
.margin-in-slider{

    margin-top: -41px
}

.span-sider{
    display: block;    padding-top: 14px; padding-bottom: 14px
}

.modal-body iframe{
  padding: 23px;
}
.carousel-control-left.left{
  background-image: none !important;
  width: 23px !important;
  margin-left: 38px !important;
}   

.carousel-control-right.right{
  background-image: none !important;
  width: 23px !important;
  margin-right: 38px !important;
}


.small-screen{
    display: none;
}
.color-list{
    color: black;
}
.type-set-pop1{
    padding-top: 21px;
}
.set-po{
  margin-left: -22%;
}
.type-set-pop p a {
    color: rgba(29, 29, 29, 0.35);
}
.nail-padding{
  padding: 23px 23px 60px 23px;
}
.border-day2{
margin-top: 165px; 
border: 1px dashed  #DEB853;
margin-left: 29px;
padding-top: 8px;
overflow: hidden;
}
.border-day2 p {
   margin-left: 23px;
   padding-top: 8px;
}
.border-day-ul{
  color: #FD9394;
  float: left;
  width: 50%;
  font-size: 20px;
}

.type-set-pop{
    text-align: unset;
  padding-top:108px;
}
.equal-size3{
  padding-top: 41px;
}
.equal-size1{
  padding-top:48px;
}
.equal-size2{
  padding-top:6px;
}
.carousel1{
    /* (/images/event-registration/caret.png); */
background-image: url(../images/header/ImageMain.jpg);
background-repeat: no-repeat, repeat;
background-position: 15%  67%;
background-size: cover;
padding-bottom: 197px;
}
.model-type-set {
  padding-top: 30px;
}
.header_log{
  text-align: center;
  padding-top : 85.0px; 
}

.header_log  img{ 
height: 234px;
}
.header_log1{
  text-align: center; 
  margin-top: 56px;  
}
.header_log1 img {
  width: 700px;
}
.GetTicket{
  width: 300px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.GetTicket{
  width: 300px;
  display: block;
  padding-top: 38px;
  padding-bottom: 0px;
}
.btn-style-ticket{
   color: white !important;
  background-image: linear-gradient(#E06A4E, #DEB853) !important;
  border-radius: 33px !important;
  height: 70px !important;
  
}

.set-container{
   position: absolute;
   width: 100%;
   margin-top: -169px;
   opacity: 0.9;
   background:white; 
}
.active-see{
   margin-top : 24px;
   margin-bottom: 120px;
}

.circle-but-in:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-decoration: none;
}
.circle-but{

}

.circle-but-in{
   color: #675a5a;
  border: 1px solid #f3ecec;
  border-radius: 60%;
  /* padding: 7px; */
  font-size: 17px;
  /* width: 53px; */
  padding: 9px 13px;
  background: white;
}

  .time-span{
      margin-left: 10px;    
   }
   .bgimage{
      background-image: url(../images/slider-event/1.png);
      background-repeat: no-repeat, repeat;
      background-size: auto;
      background-position: 62% 36%;
   }



 .circle-but{

 }



 @media (min-width: 1281px) {

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
   
    .carousel1{
        /* (/images/event-registration/caret.png); */
    background-image: url(../images/header/mobileview.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    padding-bottom: 197px;
    }
    
    .header_log1 img {
        width: 70%;
    }
    .GetTicket {
        width: 200px;
    }    
    .ticket-pr{
        font-size: 23px;
    }
    
    .ti-img{
        margin: auto; 
        width: 200px;

    
    }
    .small-screen{
        display: block;
    }
    .big-screen{
         display: none;
    }
    
    .bold1{
        padding: 5px;
        border: 1px solid grey;
        background: grey !important;
    }
    
    .pageContent{
        display: none;
    }
    
    .sets {
        margin-right: 0px !important;
    }
    .small-screen   .GetTicket{
    
        margin-bottom: 35px !important;}
    .set {
        margin-left: 0px !important;
      
    }
    .down{
        margin-bottom: 25px;
        width: 50%;
        float: left;
    }
    .bold1{
        padding: 5px;
        border: 1px solid grey;
        background: grey !important;
    }
    
    .pageContent{
        display: none;
    }
    
    .sets {
        margin-right: 0px !important;
    }
    .small-screen   .GetTicket{
    
        margin-bottom: 35px !important;}
    .set {
        margin-left: 0px !important;
      
    }
    .down{
        margin-bottom: 25px;
        height: 300px;
    }
    
    .equal-size1 {
        padding-top: 18px;
        width: 138px;
        text-align: center;
        margin: auto;
        float: left;
    }
    .equal-size1 img {
        width: 50%;
    }
    .small-word{
        font-size:12px; 
    }
    .small-hide{
        display: none;
    }
    .GetTicket{
        margin: auto;
    }
    .type-set-pop p a {
        color: rgba(29, 29, 29, 0.35);
        margin-left: -2px;}
    
        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
            position: absolute;
            top: 37%;
            margin-top: -10px;
            z-index: 5;
            display: inline-block;
        }
        .equal-size2 {
            padding-top:10px;
            overflow: hidden;
        }
        /* .v1{
            margin-left: 21% !important;
        }
        .Ar-sa{
            margin-left: 32% !important;
        } */
        .argest{
            margin-top: 205px;
        }
    
        .argest1{
            margin-top: 123px;
        }
        .argest2{
            margin-top: 323px;
        }
        .hide-filed{
            display: none;
        }
        .ti-img2{
            width: 50%;
        }
    
        .type-set-pop p {
            text-align: center;
        }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
    .carousel1{
        /* (/images/event-registration/caret.png); */
    background-image: url(../images/header/mobileview.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    padding-bottom: 197px;
    }
    
    .header_log1 img {
        width: 70%;
    }
    .GetTicket {
        width: 200px;
    }    
    .ticket-pr{
        font-size: 23px;
    }
    
    .ti-img{
        margin: auto; 
        width: 200px;
    
    }
    .small-screen{
        display: block;
    }
    .big-screen{
         display: none;
    }
    
    .bold1{
        padding: 5px;
        border: 1px solid grey;
        background: grey !important;
    }
    
    .pageContent{
        display: none;
    }
    
    .sets {
        margin-right: 0px !important;
    }
    .small-screen   .GetTicket{
    
        margin-bottom: 35px !important;}
    .set {
        margin-left: 0px !important;
      
    }
    .down{
        margin-bottom: 25px;
        width: 50%;
        float: left;
        height: 300px;
    }
    .bold1{
        padding: 5px;
        border: 1px solid grey;
        background: grey !important;
    }
    
    .pageContent{
        display: none;
    }
    
    .sets {
        margin-right: 0px !important;
    }
    .small-screen   .GetTicket{
    
        margin-bottom: 35px !important;}
    .set {
        margin-left: 0px !important;
      
    }
    .down{
        margin-bottom: 25px;
    }
    
    .equal-size1 {
        padding-top: 18px;
        width: 138px;
        text-align: center;
        margin: auto;
        float: left;
    }
    .equal-size1 img {
        width: 50%;
    }
    .small-word{
        font-size:12px; 
    }
    .small-hide{
        display: none;
    }
    .GetTicket{
        margin: auto;
    }
    .type-set-pop p a {
        color: rgba(29, 29, 29, 0.35);
        margin-left: -2px;}
    
        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
            position: absolute;
            top: 37%;
            margin-top: -10px;
            z-index: 5;
            display: inline-block;
        }
        .equal-size2 {
            padding-top:10px;
            overflow: hidden;
        }
        /* .v1{
            margin-left: 21% !important;
        }
        .Ar-sa{
            margin-left: 32% !important;
        } */
        .argest{
            margin-top: 205px;
        }
    
        .argest1{
            margin-top: 123px;
        }
        .argest2{
            margin-top: 323px;
        }
        .hide-filed{
            display: none;
        }
        .ti-img2{
            width: 50%;
        }
        .type-set-pop p {
            text-align: center;
        }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .carousel1{
    /* (/images/event-registration/caret.png); */
background-image: url(../images/header/mobileview.png);
background-repeat: no-repeat, repeat;
background-size: cover;
padding-bottom: 197px;
}
.child img {
    width: auto;
    height: 142px;
    margin-top: 14px;
}
.header_log1 img {
    width: 70%;
}
.GetTicket {
    width: 200px;
}    
.ticket-pr{
    font-size: 23px;
}

.type-set-pop{
    text-align: center;
  padding-top:108px;
}
.ti-img{
    margin: auto; 
    width: 142px;

}
.small-screen{
    display: block;
}
.big-screen{
     display: none;
}

.bold1{
    padding: 5px;
    border: 1px solid grey;
    background: grey !important;
}

.pageContent{
    display: none;
}

.sets {
    margin-right: 0px !important;
}
.small-screen   .GetTicket{

    margin-bottom: 35px !important;}
.set {
    margin-left: 0px !important;
  
}
.down{
    margin-bottom: 25px;
    width: 50%;
    float: left;
}
.bold1{
    padding: 5px;
    border: 1px solid grey;
    background: grey !important;
}

.pageContent{
    display: none;
}

.sets {
    margin-right: 0px !important;
}
.small-screen   .GetTicket{

    margin-bottom: 35px !important;}
.set {
    margin-left: 0px !important;
  
}
.down{
    margin-bottom: 25px;
    height: 231px;
}

.equal-size1 {
    padding-top: 18px;
    width: 138px;
    text-align: center;
    margin: auto;
    float: left;
}
.equal-size1 img {
    width: 50%;
}
.small-word{
    font-size:12px; 
}
.small-hide{
    display: none;
}
.GetTicket{
    margin: auto;
}
.type-set-pop p a {
    color: rgba(29, 29, 29, 0.35);
    margin-left: -2px;}

    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        position: absolute;
        top: 37%;
        margin-top: -10px;
        z-index: 5;
        display: inline-block;
    }
    .equal-size2 {
        padding-top:10px;
        overflow: hidden;
    }
    /* .v1{
        margin-left: 21% !important;
    }
    .Ar-sa{
        margin-left: 32% !important;
    } */
    .argest{
        margin-top: 205px;
    }

    .argest1{
        margin-top: 123px;
    }
    .argest2{
        margin-top: 323px;
    }
    .hide-filed{
        display: none;
    }
    .ti-img2{
        width: 50%;
    }

    .type-set-pop p {
        text-align: center;
    }
    .stepwizard-step  .btn-circle {
        width: 15px !important ;
        height: 15px !important;}
    .stepwizard-step p {
        font-size: 10px !important; 
    }
     .margin-in-slider{
        margin-top: 0px;
     }
     .hide-div{
         display: none !important;
     }
     .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        z-index: 5;
        display: inline-block;
        padding: 11px;
    }
    .lSSlideOuter .lSPager.lSGallery {
      
    }
    .lSSlideOuter .lightSlider {
        height: 258px !important;
    }
    .lSSlideOuter img{
        height: 260px;
        overflow: hidden;
        width: 100%;
    }

    .lSSlideOuter .lSPager.lSGallery img {
        display: block;
        height: auto;
        max-width: 100%;
       
        width: 125px !important;
    }
    .faq-Model-Style-Header h4{
            font-size: 14px;
            padding: 5px;
        }
        .PStyle{
             font-size: 14px;
             padding-top: 15px;
        }
        .PStyle1{
            font-size: 14px;
       }
        .faq-modal .sr-next {
            font-size: 14px !important;
        }
        .faq-modal .sr-prev, .faq-modal .sr-next {
            
            font-size: 14px !important;}
        .top-slider-opacity{
            margin-top: 47px; 
        }
        .child{
           
            width: 30%;
            float: left;
        }
        .modal-content {
            margin-top: 23px;
        }

        .manage-smart{
            width: 50%;
            float: left;
        }
        .manage-smart-loop{
            width: 30%;
            float: left;
        }
        .manage-smart-loop{
            margin-bottom: 0px;
            width: 100px;
            height: 92px;
            margin-left: 0px;
        }

        .small-screen{
            display: block;
        }
        .modal-content{
            margin-top: 50px !important;
        }
        .modal-header {
            padding: 10px !important;
        }
        .check-pad{
    
            padding-right: 4px;
            }
            .check-pad-row{
                padding-left: 29px;
            }
            .radioButton-env {
                background: white;
                border-radius: 50%;
                padding: 0px 4px 4px 4px;
                border: 1px solid #cccccc;
            }
            .color-list1,
        .time-span1{
            color:black !important;
        }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
   
    .carousel1{
        /* (/images/event-registration/caret.png); */
    background-image: url(../images/header/mobileview.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    padding-bottom: 197px;
    }

    .child{
        height: 164px;
        margin-bottom: 10px;
        width: 50%;
        float: left;
    }

    .header_log1 img {
        width: 70%;
    }
    .GetTicket {
        width: 200px;
    }    
    .ticket-pr{
        font-size: 20px;
    }
    .type-set-pop{
        text-align: center;
      padding-top:108px;
    }
    .ti-img{
        margin: auto;
        width: 120px; 
    }
    .small-screen{
        display: block;
    }
    .big-screen{
         display: none;
    }

    .bold1{
        padding: 5px;
        border: 1px solid grey;
        background: grey !important;
    }

    .pageContent{
        display: none;
    }

    .sets {
        margin-right: 0px !important;
    }
    .small-screen   .GetTicket{

        margin-bottom: 35px !important;}
    .set {
        margin-left: 0px !important;
      
    }
    .down{
        margin-bottom: 25px;
        width: 50%;
        float: left;
        height: 178px;
    }

    .equal-size1 {
        padding-top: 18px;
        width: 138px;
        text-align: center;
        margin: auto;
    }
    .equal-size1 img {
        width: 50%;
    }
    .small-word{
        font-size:12px; 
    }
    .small-hide{
        display: none !important;
    }

    .hide-div{
        display: none !important;
    }
    .GetTicket{
        margin: auto;
    }
    .type-set-pop p a {
        color: rgba(29, 29, 29, 0.35);
        margin-left: -2px;}

        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
            position: absolute;
            top: 43%;
            margin-top: -10px;
            z-index: 5;
            display: inline-block;
            padding: 11px;
        }
        .equal-size2 {
            padding:10%;
        }
        .stepwizard-step  .btn-circle {
            width: 15px !important ;
            height: 15px !important;}
        .stepwizard-step p {
            font-size: 10px !important; 
        }
         .margin-in-slider{
            margin-top: 0px;
         }

         .carousel-control-left.left {
            margin-left: 10px !important;
        }

        .carousel-control-right.right {
            margin-right: 17px !important;
        }
        .modal-body iframe {
            padding: 0px 23px 22px 23px;
        }
        .modal-body iframe {
            padding: 0px 16px 15px 16px;
            height: 241px;
        }



        
        .lSSlideOuter .lightSlider {
            height: 258px !important;
        }
        .lSSlideOuter img{
            height: 260px;
            overflow: hidden;
            width: 100%;
        }
    
        .lSSlideOuter .lSPager.lSGallery img {
            display: block;
            height: auto;
            max-width: 100%;
         
            width: 125px !important;
        }

        .faq-Model-Style-Header h4{
            font-size: 14px;
            padding: 5px;
        }
        .PStyle{
             font-size: 10px;
             padding-top: 15px;
        }
        .PStyle1{
            font-size: 10px;
       }
        .faq-modal .sr-next {
            font-size: 10px !important;
        }
        .faq-modal .sr-prev, .faq-modal .sr-next {
            
            font-size: 10px !important;}
        .top-slider-opacity{
            margin-top: 47px; 
        }
        .ti-img-rol1{
            font-size: 16px;
        }
        .ti-img-rol2{
            font-size: 16px;
        }
        .ti-img-rol3{
            font-size: 16px;
        }
        .ti-img-rol4{
            font-size: 16px;
        }
        .dark-bgg-tick{
            font-size: 16px;
        }
        .ti-img-rol22{
            font-size:14px;
        }
        .small-screen{
            display: block;
        }
        .modal-content{
            margin-top: 50px !important;
        }
        .modal-header {
            padding: 10px !important;
        }
       
        .hide-filed{
            display: none !important;
        } 
        .manage-smart-loop{
            width: 40%;
            float: left;
            margin-left: 24px;
        }

        .check-pad{
    
            padding-right: 14px;
            }
        .check-pad-row{
            padding-left: 22px;
        }
        .top-slider-opacity {
            bottom: 0px;
            margin-top: 47px;
            position: absolute;
            display: block;
            width: 100%;
        }
        .bgimage {
            height: 866px;
        }
        .radioButton-env {
            background: white;
            border-radius: 50%;
            padding: 0px 4px 4px 4px;
            border: 1px solid #cccccc;
        }
        .color-list1,
        .time-span1{
            color:black !important;
        }
    }