section#pageSlider2 .bannerPoster {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
}
section#pageSlider2 .active, section#pageSlider2 .carousel-inner, section#pageSlider2 .item {
	height: auto;
}