#clockdiv{
font-family: sans-serif;
color: #fff;
display: inline-block;
font-weight: 100;
text-align: center;
font-size: 30px;
}

#clockdiv > div{
margin: 2px;
width: 60px;
display: inline-block;
}

#clockdiv div > span{
padding: 4px 10px;
width: 100%;
height: 60px;
border-radius: 3px;
background: #616161;
display: inline-block;
font-size: 34px;
}

.smalltext{
padding-top: 5px;
font-family: Lato;
font-size: 12px;
color: #333333;
background-color: #dbdbdb;
background: linear-gradient(#fff, #dbdbdb);
margin-top: 2px;
}