.section-black {
    background-color: #121015;
    
}
.section-black p {
    color: #ffffff;
}

.section-black-alt {
    background-color: #121015;
    
}

.section-black-alt p {
    font-family: Lato;
    font-weight: 100;
    line-height: 1.3;
    color: #999999;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-black-alt h1 {
    color: #ffffff;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.fighterName h1{
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    background-color: #ed2139;
    display: inline;
    padding: 10px 15px;
}

.fighterName h6 {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    display: inline;
    background-color: #ed2139;
    padding: 7px 15px;
}

h5.title {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 30px;
    padding-top: 30px;
}

span.titleRed {
    color: #ed2139;
}

table {
    background-color: #ffffff;
}

.buyAlert-bar {
    background-color: #ecf0f1;
}

.fighterCard {
    padding-top: 50px;
}

.fighterCap {
    padding-top: 30px;

}

.fighterCard2 {
    padding-top: 30px;
}

.fighterDetails2 {
    padding-top: 20px;
}

.maincard {
    padding-top: 30px;
}

.fighterName {
    text-align: center;
}

.table-responsive {
    background-color: #ffffff;
}

