.caption {
    padding-top: 50px;
    padding-left: 10px;
}

.textCard {
    border-bottom: 2px dashed #979797;
    padding-top: 20px;
}

.textCard-last {
    padding-top: 20px;
    padding-bottom: 20px;
}

h4 {
    font-size: 24px;
}

h6.textGrey {
    color: #9B9B9B;
    font-size: 24px;
    margin: 0;
}

h6.dash {
    position: relative;
    text-align: center;
    color: #9B9B9B;
}

.dash:before {
    content: "";
    display: block;
    border-top: dashed 2px #9B9B9B;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    z-index: 0;
}

.dash span {
    background-color: #f7f7f7;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.btn.schedule {
    width: 50%;
    background-color: #D0021B;
}

.btn-sched {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.lineupText {
    padding-top: 50px;
}

/* hafiz custom starts */

@media (max-width: 768px) {

    /* hide on mobile device */
    .slick-dots {
        -moz-animation: cssAnimation 0s ease-in .1s forwards;
        /* Firefox */
        -webkit-animation: cssAnimation 0s ease-in .1s forwards;
        /* Safari and Chrome */
        -o-animation: cssAnimation 0s ease-in .1s forwards;
        /* Opera */
        animation: cssAnimation 0s ease-in .1s forwards;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    @keyframes cssAnimation {
        to {
            width:0;
            height:0;
            overflow:hidden;
        }
    }
    @-webkit-keyframes cssAnimation {
        to {
            width:0;
            height:0;
            visibility:hidden;
        }
    }

}

@media (min-width: 769px) {
    .slick-prev, .slick-next {
        -moz-animation: cssAnimation 0s ease-in .1s forwards;
        /* Firefox */
        -webkit-animation: cssAnimation 0s ease-in .1s forwards;
        /* Safari and Chrome */
        -o-animation: cssAnimation 0s ease-in .1s forwards;
        /* Opera */
        animation: cssAnimation 0s ease-in .1s forwards;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    @keyframes cssAnimation {
        to {
            width:0;
            height:0;
            overflow:hidden;
        }
    }
    @-webkit-keyframes cssAnimation {
        to {
            width:0;
            height:0;
            visibility:hidden;
        }
    }
}

.banner_main_text {
    color: #FFFFFF;
    position: absolute;
    font-size: 31px;
    line-height: 41px;
    font-weight: 800;
    top: 29%;
    left:29%;


}

.banner_btn {
    margin-top: 11px;
    border-radius: 100px;
    background-color: #ffffff;
    color: #616161;
    font-weight: bold;
    padding: 11px;
    padding-left: 25px;
    padding-right:25px;
    font-weight: bold;
}

.banner_btn:hover {
    color: #ffffff;
    background-color: rgba(130, 2, 11, 0.48);
    text-shadow: 1px 1px 2px #000;
    border: 1px solid rgba(255, 255, 0, 0.12);
}

.desktop-regular-font
{
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.91;
    letter-spacing: 0.6px;
    text-align: center;
    color: #a8a4a4;
}

.black_bg {
    background-color: #000;
}
.after-19-years-histo {
    font-family: 'Open Sans';
    font-size: 19px;
    font-style: italic;
    line-height: 1.41;
    text-align: center;
    color: #fdfdfd;
}
.first-created-in-199 {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.91;
    letter-spacing: 0.6px;
    text-align: center;
    color: #a8a4a4;
}
.car-2017 {
     object-fit: contain;
     position: absolute;
     opacity: 0.75;
     width: 33%;
     margin-top:-11%;
 }
.car-2017_graphic {
    object-fit: contain;
    position: absolute;
    opacity: 0.35;
    width: 120%;
    left:-45%;
    margin-top:11%;
}
.car-2017_xs {
    object-fit: contain;
    position: absolute;
    opacity: 0.75;
    width: 61%;
    margin-top:-35%;
}
.car-2017_graphic_xs {
    object-fit: contain;
    position: absolute;
    opacity: 0.85;
    width: 61%;
    margin-top:5%;
}
.finale {
    object-fit: contain;
    position: absolute;
    opacity: 0.75;
    width: 61%;
    margin-top:-15%;
    right: 0px;
}
.malaysian-s-reaction {
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 1.1px;
    text-align: center;
    color: #fdfdfd;
    margin-bottom: 27px;
}

.malaysian-s-reaction .text-style-1 {
    letter-spacing: normal;
}
.font-white {
    color: #FFFFFF !important;
    font-family: 'Open Sans';
}

.track_circuit_header
{
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 1.1px;
    text-align: center;
    color: #fdfdfd;
}

.the-beginning {
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 1.1px;
    text-align: center;
    color: #fdfdfd;
    margin-bottom: 21px;
}
.the-beginning1 {
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 1.1px;
    text-align: center;
    color: #fdfdfd;
    margin-bottom: 21px;
}
.the-beginning_xs {
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 1.1px;
    text-align: center;
    color: #fdfdfd;
    margin-bottom: 35px;
    margin-top: -43px;
}

.the-beginning .text-style-1 {
    letter-spacing: normal;
}

.the-sepang-international {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.91;
    letter-spacing: 0.6px;
    text-align: center;
    color: #a8a4a4;
}
.the-sepang-international_xs {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.91;
    letter-spacing: 0.6px;
    text-align: left;
    color: #a8a4a4;
}

.graphic-car-1-01 {
    object-fit: contain;
    position: absolute;
    opacity: 0.86;
    right: 0;
    width: 43%;
    margin-top:-15%;
    z-index: 22;
}
.graphic-car-1-01_xs {
    object-fit: contain;
    position: absolute;
    opacity: 0.86;
    right: 0;
    width: 63%;
    margin-top:-21%;
    z-index: 22;
}

.artist_div span {
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}
.artist_div_xs span {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.artist_div {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}
.artist_div_xs {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}


/* Slick Slider */
.slider {
    width: 60%;
    margin: 100px auto;
}
.slider_xs {
    width: 100%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 13px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.slick-dots li.slick-active button {
    background: transparent !important;
}

.slick-dots li.slick-active {
    border: 0px solid #ccc;
    background-color: #ae75fb;
}

/* accordion */

.tab {
    position: relative;
    margin-bottom: 7px;
    width: 100%;
    font-family: 'Open Sans';
    color: #fff;
    overflow: hidden;
    border:0.1em solid rgba(231, 231, 231, 0.61);
    padding-top: 1em;
}
.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1.5em;
    background: transparent;
    font-weight: 500;
    line-height: 2;
    color: #fdfdfd;
    font-size: 17px;
    cursor: pointer;
}

.tab label small {
    font-style: italic;
    font-weight: lighter;
    font-size: 13px;
    line-height: 1;
    color: #fefefe;
}
.tab label .price {
    margin-right: 1.5em;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    background: transparent;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
.tab-content {
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background: transparent;
}
.tab-content p {
    margin: 1em;
}
/* :checked */
input:checked ~ .tab-content {
    max-height: 210em;
}
/* Icon */
label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .45s;
    -o-transition: all .45s;
    transition: all .45s;
}
input[type=checkbox] + label::after {
    /*content: "+";*/
    content: "";
}
input[type=radio] + label::after {
    /*content: "\25BC";*/
}
input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
.event_description_header {
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 300;
}
.event_description {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: normal;


}

.prices-shown-inclu {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.71;
    text-align: left;
    color: #be0100;
}

/* image zooming */
#track_circuit_img:hover {
    -webkit-transition: all 500ms ease-in;
    -webkit-transform: scale(1.4);
    -ms-transition: all 500ms ease-in;
    -ms-transform: scale(1.4);
    -moz-transition: all 500ms ease-in;
    -moz-transform: scale(1.4);
    transition: all 500ms ease-in;
    transform: scale(1.4);
}
#track_circuit_img:not( :hover ) {
    -webkit-transition: all 500ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 500ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 500ms ease-in;
    -moz-transform: scale(1);
    transition: all 500ms ease-in;
    transform: scale(1);
}

/* ticket seat price move up/down animation */

.fa-angle-down {
    position: relative;
/*    -webkit-animation: mymove 3s;  /* Safari 4.0 - 8.0 */
/*    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
/*    animation: mymove 3s;
    animation-iteration-count: infinite; */
}

@-webkit-keyframes mymove {
    from {top: -5px;}
    to {top: 3px;}
}

@keyframes mymove {
    from {top: -5px;}
    to {top: 3px;}
}

.fa-angle-up {
    position: relative;
/*    -webkit-animation: mymoveup 3s;  /* Safari 4.0 - 8.0 */
/*    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
/*    animation: mymoveup 3s;
    animation-iteration-count: infinite; */
}

@-webkit-keyframes mymoveup {
    from {top: 3px;}
    to {top: -5px;}
}

@keyframes mymoveup {
    from {top: 3px;}
    to {top: -5px;}
}
/* end ticket seat price move up/down animation */

/* gradient background */
.gradient_red {
    background-image: linear-gradient(bottom, rgba(255,0,0,.3), rgba(255,0,0,0) 30%, transparent 30%, transparent 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(255,0,0,.3), rgba(255,0,0,0) 30%, transparent 30%, transparent 100%)
}

/* ---------------------------------------- */
/* Acordeon styles */
.tab_schedule {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    padding-top: .5em;
    font-family: 'Open Sans';
    font-weight: 600;
}
.tab_schedule input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.tab_schedule label {
    position: relative;
    display: block;
    padding: 0 0 0 2em;
    background: rgba(252, 252, 252, 0.65);
    font-weight: bold;
    font-family: 'Open Sans';
    line-height: 3;
    color: #fdfdfd;
    font-size: 17px;
    cursor: pointer;
}

.tab_schedule_content {
    max-height: 0;
    overflow: hidden;
    background: #ffffff;
    color: #373737;
    margin-top: -5px;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
.tab_schedule_content table{
    margin: 2em;
    border:none;
    border-collapse: collapse;
    width: 95%;
}

.tab_schedule_content table td {
    border-left: 1px solid #8e8e8e;
    border-right: 1px solid #8e8e8e;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.tab_schedule_content table td:first-child {
    border-left: none;
}

.tab_schedule_content table td:last-child {
    border-right: none;
}
/* :checked */
input:checked ~ .tab_schedule_content {
    max-height: 210em;
}
/* Icon */
label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
input[type=checkbox] + label::after {
    /*content: "+";*/
    content: "";
}
input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

.i_schedule_icon {
    font-size: 33px;
    font-weight: 700;
    float: right;
    margin-right: 23px;
    margin-top: 13px;
}


/* mobile schedule tab */
.date_m {
    padding: 11px;
    background-color: #d6d6d6;
    padding-left: 9%;
    margin: 0 !important;
    font-weight: bold;
}
.schedule_desc_m {
    padding: 11px;
    color:#FFFFFF;
    background-color: #5b5b5b;
    padding-left: 9%;
    margin: 0 !important;
}
.capitalize:first-letter {
    text-transform: capitalize;
}
.lowercase {
    text-transform: lowercase;
}