.modcustom {
    min-height: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  
  .modcustom blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
  }
  
  .modcustom-lg {
    padding: 24px;
    border-radius: 6px;
  }
  
  .modcustom-sm {
    padding: 9px;
    border-radius: 3px;
  }

  @media (min-width: 768px) {
    .modal-dialog {
      width: 600px;
      margin: 30px auto;
    }
    .modal-content {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
      width: 300px;
    }
  }
  section#pageSlider2 .bannerPoster {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
  }
  .save {
    color: #80b664;
  }
  .red-promo {
    color: #d2281f;
  }
