.modal-filters {

    .heading {
        position: relative;
        cursor: pointer;
        font-size: 14px;
        letter-spacing: 0.02em;
        font-weight: 700;
        text-transform: uppercase;
        color: $modal-filters-heading-color;
        transition-duration: 0.15s;
        padding: 4px 0;

        &::after,
        &::before {
            content: " ";
            display: block;
            width: 9px;
            height: 9px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -5px;
            transition-duration: 0.3s;
            background: no-repeat center;
        }
        
        &::before {
            transform: scaleY(1);
            background-image: url("#{$path-img}icons/minus.svg");
        }
        
        &::after {
            transform: scaleY(0);
            background-image: url("#{$path-img}icons/plus.svg");
        }

        &:hover {
            opacity: 0.75;
        }

        &.collapsed {

            &::before {
                transform: scaleY(0);
            }
            
            &::after {
                transform: scaleY(1);
            }
        }
    }

    .modal-footer {
        display: flex;
        justify-content: center;
        padding-left: 12px;
        padding-right: 12px;
    }

    .reset,
    .apply {
        margin: 0 3px;
        font-size: 11px;
        letter-spacing: 0;
        padding: 3px 10px 4px;
        font-weight: 500;
    }
}