.section-faq {
    margin-top: 25px;
    //font-family: Webb Ellis Cup;
    p {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: rgba(29, 29, 29, 0.75);
    }
    h2{
        font-size: 30px;
        line-height: normal;
        text-transform: uppercase;
        color: rgba(29, 29, 29, 0.9);
        margin-top: 25px;
        margin-bottom: 25px;
    }
    h3{
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
    li {
        list-style-type: none;
        color: rgba(29, 29, 29, 0.9);
    }
    a{
        color: rgba(252,0,0,.75);
        text-decoration: none;
        background-color: transparent;
    }
    a:hover {
        color: rgba(176,0,0,.75);
        text-decoration: underline;
    }
    .accordion {
        padding: 29px 0 108px;
        
        @include media-breakpoint-up(md) {
            padding: 19px 0 180px;
        }
    }
}