footer {
    background-image: $footer-bg-image-m;
    background-repeat: no-repeat;
    background-position: left bottom, center;
    background-size: 46.1%, auto;
    color: $footer-color;
    font-family: $font-secondary;
    font-weight: 300;
    text-align: center;
    padding: 76px 0 18px;

    li {
        list-style-type: none;
    }
    
    @media (min-width: 546px) {
        background-size: 251px, auto;
    }
    
    @include media-breakpoint-up(lg){
        background-size: auto;
        background-image: $footer-bg-image;
        background-position: right 142px bottom, center;
        padding: 35px 0 24px;
        text-shadow: 0 1px 0 $footer-bg-color, 0 -1px 0 $footer-bg-color, 1px 0 0 $footer-bg-color, -1px 0 0 $footer-bg-color;
    }
    
    .content {

        @include media-breakpoint-up(lg){
            width: 50%;
        }
    }

    .logo {
        display: inline-block;
        
        @include media-breakpoint-up(lg){
            margin-right: 75px;
        }
        
        img {
            width: 105px;

            @include media-breakpoint-up(lg){
                width: 71px;
            }
        }
    }

    .text-wrapper {
        padding-top: 78px;
        font-family: Roboto;
        
        @include media-breakpoint-up(lg){
            padding-top: 35px;
        }

        .text {

            margin-top: 7px;
            padding: 0 12% 0 51%;
            min-height: 190px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: normal;
            text-align: right;
            letter-spacing: 0.02em;
            @include media-breakpoint-up(lg){
                min-height: 0;
                text-align: right;
                font-size: 14px;
                line-height: 20px;
                width: 50%;
                padding: 0;
            }
        }
        
        .nav {
            width: 50%;
            padding-left: 58px;

            .nav-item {
                text-align: left;
            }

            .nav-link {
                color: $footer-color;
                font-style: normal!important;
                font-weight: 300!important;
                font-size: 14px!important;
                line-height: normal!important;
                letter-spacing: 0.02em;
            }
            .nav-link:hover {
                 background-color: transparent !important;
                 border-color: transparent !important;
            }
        }
    }

    .title {
        padding-top: 44px;
        text-transform: uppercase;
        letter-spacing: 0.31em;
        font-size: 14px;
        font-weight: 700;
        
        @include media-breakpoint-up(lg){
            padding-top: 81px;
            font-weight: 300;
        }
    }

    .component-socials {
        margin-top: 14px;
    }

    .copyright {
        padding: 93px 0 0 82px;
        
        @include media-breakpoint-up(lg){
            padding: 155px 0 0;
        }
        font-style: normal!important;
        font-weight: 300!important;
        font-size: 12px!important;
        line-height: normal!important;
        text-align: center!important;
        letter-spacing: 0.02em!important;

        p {
            margin: 2px 0;
            letter-spacing: 0.02em;
           /* font-size: 8px;*/
            line-height: 1;
            color: $footer-color;
            
            @include media-breakpoint-up(lg){
                font-size: 10px;
            }
        }
    }
}