.history-content-wrap {
    margin-bottom: 50px;
    //font-family: Webb Ellis Cup;
    p {
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: rgba(29, 29, 29, 0.65);
    }
    h2{
        font-size: 30px;
        line-height: normal;
        text-transform: uppercase;
        color: rgba(29, 29, 29, 0.9);
        margin-top: 50px;
        margin-bottom: 40px;
    }
    
    @include media-breakpoint-up(lg) {
        margin-bottom: 34px;
    }

    .image-wrap-right {
        min-width: 250px;
        text-align: center;
        padding: 0 15px;
    }
}