.section-matches-filters {
    padding: 0 0 47px;

    @include media-breakpoint-up(lg) {
        padding: 0 0 58px;
    }
    
    .input-group-search {
        padding: 20px 0 10px;
        z-index: 1;
        
        @include media-breakpoint-up(lg) {
            padding: 33px 0 10px;
        }
    }
    
    .input-group-filters {
        padding: 39px 0 36px;
        display: none;
        font-family: "webbelliscup", sans-serif;
        
        @include media-breakpoint-up(lg) {
            display: flex;
        }

        .filter-select,.filter-select-dt {
            position: relative;
            width: 20%;
            //flex-grow: 1;
            display: flex;
            //height: 40px;
            .form-control {
                height: 40px;
                border: 0.5px solid rgba(29, 29, 29, 0.1);
                z-index: 0;
                font-family: "webbelliscup", sans-serif;
            }

            .container {
                padding: 0;
                display: flex;
                //max-width: 250px;
                min-width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
        .filter-select-dt {
            min-width: 222px;
        }
    }
    
    .input-group-filters-m {
        padding: 10px 0 11px;
        justify-content: flex-end;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .btn-gradient {
        margin-top: 37px;
    }

    .matches {
        
        @include media-breakpoint-up(md) {
            padding-top: 5px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 0;
        }
    }



}