.section-nav-tabs {
    /******** Custom Scrollbar **********/
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        z-index: 9999;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: none;
        border-radius: 5px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #fcfcfc;
        border-radius: 5px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, .25);
    }

    .container {
        @include media-breakpoint-down(sm) {
            padding: 0;
            overflow-x: auto;
        }
    }
}