<template>
    <div>
        <pools :tickets-data="ticketsData"></pools>
        <matches :tickets-data="ticketsData"></matches>
        <gallery></gallery>
        <videos></videos>
    </div>
</template>


<script>
    export default {
        name: "EventInfoFixtures",
        props: ['ticketsData']
    }
</script>

<style scoped>

</style>