<template>


    <section class="gallery-section">
        <div class="container">
            <div class="section-title">
                <h2>RUGBY WORLD CUP GALLERY</h2>
            </div>
        </div>
        <div class="gallery">
            <a data-fancybox="gallery" href="/images/rugby2019/gallery/1.jpg" class="item"><img src="/images/rugby2019/gallery/1.jpg"></a>
            <a data-fancybox="gallery" href="/images/rugby2019/gallery/2.jpg" class="item"><img src="/images/rugby2019/gallery/2.jpg"></a>
            <a data-fancybox="gallery" href="/images/rugby2019/gallery/3.jpg" class="item"><img src="/images/rugby2019/gallery/3.jpg"></a>
            <a data-fancybox="gallery" href="/images/rugby2019/gallery/4.jpg" class="item"><img src="/images/rugby2019/gallery/4.jpg"></a>
            <a data-fancybox="gallery" href="/images/rugby2019/gallery/5.jpg" class="item"><img src="/images/rugby2019/gallery/5.jpg"></a>
            <a data-fancybox="gallery" href="/images/rugby2019/gallery/6.jpg" class="item"><img src="/images/rugby2019/gallery/6.jpg"></a>
            <a data-fancybox="gallery" href="/images/rugby2019/gallery/7.jpg" class="item"><img src="/images/rugby2019/gallery/7.jpg"></a>
        </div>
    </section>
    
    
</template>
<script>
    export default {
        name: "Gallery",
        mounted() {
            $('[data-fancybox="gallery"]').fancybox({
                thumbs: {
                    autoStart: true,
                    axis: 'x'
                },
                mobile: {
                    clickSlide: "close"
                }
            });
        }
    }
</script>

<style scoped>
    ul {
        text-align: center;
        margin: 10px auto;
    }

    ul li {
        float: left;
        margin-left: 10px;
    }

    ul li img {
        width: 100px;
        height: auto;
    }
</style>