<template>
    <div class="container">

        <section class="js-matches-filters section-matches-filters">
                <h2>
                    Rugby World Cup 2019, Japan fixtures
                </h2>

                <form class="js-filters filters">
                    <div class="input-group input-group-search search-input-wrapper dropdown-autocomplete">
                        <vue-single-select
                                v-model="keyword"
                                :options="Object.values(ticketsData.countries)"
                                placeholder="Search for matches"
                                style="width: 100%;"
                        ></vue-single-select>
                    </div>

                    <div class="input-group input-group-filters">
                        <!-- Countries Filter -->
                        <div class="dropdown filter-select" v-on-clickaway="hideCountries">
                            <button class="btn btn-dropdown" type="button" @click="getCountriesVisible()">
                                {{selectedCountry}}
                            </button>
                            <div class="select-menu" v-if="countriesVisible">
                                <div class="buttons-wrapper" :class="{'show-all': showAllCountries}">
                                    <button
                                        class="dropdown-item btn btn-filter"
                                        :class="needSelectedBackground(country, selectedCountry)"
                                        v-for="(country, index) in ticketsData.countries"
                                        :key="`${country}-${index}`"
                                        :data-value="country"
                                        @click.stop="setSelectedCountry(country)">
                                        {{country}}
                                    </button>
                                </div>
                                <!--<button class="js-show-more show-more" @click="showMoreCountries()">-->
                                    <!--Show <span v-if="showAllCountries">less</span> <span v-else>more</span>-->
                                <!--</button>-->
                            </div>
                        </div>

                        <!-- Groups Filter -->
                        <div class="dropdown filter-select" v-on-clickaway="hideGroups">
                            <button class="btn btn-dropdown" type="button" @click="getGroupsVisible()">
                                {{selectedGroup}}
                            </button>
                            <div class="select-menu" v-if="groupsVisible">
                                <div class="buttons-wrapper" :class="{'show-all': showAllGroups}">
                                    <button
                                        class="dropdown-item btn btn-filter"
                                        :class="needSelectedBackground(group, selectedGroup)"
                                        v-for="(group, index) in ticketDataGroups"
                                        :key="`${group}-${index}`"
                                        :data-value="group"
                                        @click.stop="setSelectedGroup(group)">
                                        {{ group !== 'KNOCK OUT PHASE' ? group : 'KNOCK OUT PHASE' }}
                                    </button>
                                </div>
                                <button class="js-show-more show-more" @click="showMoreGroups()">
                                    Show <span v-if="showAllGroups">less</span> <span v-else>more</span>
                                </button>
                            </div>
                        </div>
                        <!-- Datepicker -->
                        <div class="filter-select-dt">
                            <date-ranger
                                    :startDate="startDate"
                                    :endDate="endDate"
                                    @update="setDate"
                            ></date-ranger>
<!--                            <label class="btn-select-label">-->
<!--                                <input id="datepicker" class="js-dropdown-filter-datepicker btn btn-dropdown btn-select"-->
<!--                                       type="button"-->
<!--                                       name="datepicker"-->
<!--                                       data-min-date="20 September"-->
<!--                                       data-max-date="2 November">-->
<!--                                <span class="btn-select-arrow"></span>-->
<!--                            </label>-->
                        </div>

                        <!-- Cities Filter -->
                        <div class="dropdown filter-select" v-on-clickaway="hideCities">
                            <button class="btn btn-dropdown" type="button" @click="getCitiesVisible()">
                                {{ selectedCity }}
                            </button>
                            <div class="select-menu" v-if="citiesVisible">
                                 <div class="buttons-wrapper" :class="{'show-all': showAllCities}">
                                    <button
                                        class="dropdown-item btn btn-filter"
                                        :class="needSelectedBackground(city, selectedCity)"
                                        v-for="(city, index) in ticketDataCities"
                                        :key="`${city}-${index}`"
                                        :data-value="city"
                                        @click.stop="setSelectedCity(city)">
                                        {{ city }}
                                    </button>
                                </div>
                                <!--<button class="js-show-more show-more" @click="showMoreCities()">-->
                                    <!--Show <span v-if="showAllCities">less</span> <span v-else>more</span>-->
                                <!--</button>-->
                            </div>
                        </div>

                        <div class="dropdown filter-select">
                            <button class="btn btn-dropdown clear" type="button" @click="clearAll">
                                Clear All
                            </button>
                        </div>
                    </div>
                    <div class="input-group input-group-filters-m">
                        <button class="btn btn-filters" type="button" data-toggle="modal" data-target=".modal-filters"
                                @click="mobileModalIsOpen=true">
                            Filters
                        </button>
                    </div>
                </form>
                <package-detail-ticket v-for="ticket in matches2" :key="ticket.id" :ticket="ticket"></package-detail-ticket>
        </section>

        <!--<div class="d-flex d-lg-none justify-content-center">-->
            <!--<button v-if="matchesToShow === 4"-->
                    <!--class="js-show-more btn btn-primary btn-gradient btn-lg"-->
                    <!--data-show-more-target="matches"-->
                    <!--data-show-more-text="Show Less"-->
                    <!--data-scroll-window="true"-->
                    <!--@click="showMatchesFullList"-->
            <!--&gt;-->
                <!--Show More-->
            <!--</button>-->
            <!--<button v-else-->
                    <!--class="js-show-more btn btn-primary btn-gradient btn-lg"-->
                    <!--data-show-more-target="matches"-->
                    <!--data-show-more-text="Show Less"-->
                    <!--data-scroll-window="true"-->
                    <!--@click="showMatchesShortList"-->
            <!--&gt;-->
                <!--Show Less-->
            <!--</button>-->
        <!--</div>-->

        <div class="modal fade modal-filters show" tabindex="-1" role="dialog" aria-modal="true" style="display: block;"
             v-if="mobileModalIsOpen">
            <div class="modal-dialog" role="document">
                <form class="js-form modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Filters</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="heading" data-toggle="collapse" data-target=".collapse-country">Teams</h4>
                        <div class="collapse show collapse-country">
                            <div class="js-btn-group-toggle-wrapper btn-group-toggle-wrapper">
                                <div class="btn-group-toggle" data-toggle="buttons"
                                    v-for="(country, index) in ticketsData.countries"
                                    :key="`${country}-${index}`">
                                    <label class="js-toggle-label btn btn-filter btn-sm"
                                           :class="needSelectedBackground(country, selectedCountry)"
                                        @click="setSelectedCountry(country)">
                                        <input type="checkbox" name="country" value="Ireland" autocomplete="off">
                                        {{ country }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <h4 class="heading collapsed" data-toggle="collapse" data-target=".collapse-pool">Group</h4>
                        <div class="collapse collapse-pool">
                            <div class="js-btn-group-toggle-wrapper btn-group-toggle-wrapper">
                                <div class="btn-group-toggle" data-toggle="buttons"
                                    v-for="(group, index) in ticketDataGroups"
                                    :key="`${group}-${index}`">
                                    <label class="js-toggle-label btn btn-filter btn-sm"
                                           :class="needSelectedBackground(group, selectedGroup)"

                                        @click="setSelectedGroup(group)">
                                        <input type="checkbox" name="group" value="Pool A" autocomplete="off">
                                        {{ group }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <h4 class="heading collapsed" data-toggle="collapse" data-target=".collapse-date">Date</h4>
                        <div class="collapse collapse-date">
                            <div class="js-btn-group-toggle-wrapper btn-group-toggle-wrapper">
                                <div class="btn-group-toggle" data-toggle="buttons" @click="setSelectedMonth(month)"
                                    v-for="(month, index) in months"
                                    :key="`${month}-${index}`"
                                >
                                    <label class="js-toggle-label btn btn-filter btn-sm" :class="needSelectedBackgroundForMonth(month, mobileSelectedMonth)">
                                        <input type="checkbox" name="date" value="September" autocomplete="off">
                                        {{ month }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <h4 class="heading collapsed" data-toggle="collapse" data-target=".collapse-city">City</h4>
                        <div class="collapse collapse-city">
                            <div class="js-btn-group-toggle-wrapper btn-group-toggle-wrapper">
                                <div class="btn-group-toggle" data-toggle="buttons"
                                    v-for="(city, index) in ticketDataCities"
                                    :key="`${city}-${index}`">
                                    <label class="js-toggle-label btn btn-filter btn-sm" :class="needSelectedBackground(city, selectedCity)" @click="setSelectedCity(city)">
                                        <input type="checkbox" name="city" value="Tokyo City" autocomplete="off">
                                        {{ city }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="js-reset-form reset btn btn-filter btn-fix-width" type="reset" name="reset"
                               value="Clear all" @click="clearAll">
                        <button class="apply btn btn-primary btn-gradient btn-fix-width" type="button"
                                data-dismiss="modal" aria-label="Close">Apply filter
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div v-else></div>
    </div>
</template>

<script>
    import moment from 'moment';
    import {mixin as clickaway} from 'vue-clickaway'
    export default {
        name: "Matches",
        mixins: [clickaway],
        props: ['ticketsData', 'countriesData'],
        data() {
            return {
                keyword: null,
                matches: [],
                cities: null,
                countries: null,
                pools: null,
                matches2: [],
                matchesByCountry: '',
                selectedCountry: 'TEAM',
                selectedCity: 'CITY',
                selectedDate: 'DATE',
                selectedGroup: 'GROUP',
                suggestions: [],
                months: [],
                mobileModalIsOpen: false,
                matchesToShow: 4,
                showCountryDropdown: false,
                showAllCountries: false,
                showAllGroups: false,
                showAllCities: false,
                ticketDataGroups: '',
                ticketDataCities: '',
                countriesVisible: false,
                groupsVisible: false,
                citiesVisible: false,
                startDate:new Date('2019-09-20'),
                endDate:new Date('2019-11-02'),
                mobileSelectedMonth: null
            }
        },
        methods: {
            hideCities(){
                this.citiesVisible=false
            },
            hideGroups(){
                this.groupsVisible=false
            },
            hideCountries(){
                this.countriesVisible=false
            },
            setDate(value){
                this.startDate=value.startDate
                this.endDate=value.endDate
                this.searchByFilters()
            },
            getCountriesVisible () {
                this.countriesVisible = !this.countriesVisible;
                this.groupsVisible = false;
                this.citiesVisible = false;
            },

            getGroupsVisible () {
                this.groupsVisible = !this.groupsVisible;
                this.countriesVisible = false;
                this.citiesVisible = false;
            },

            getCitiesVisible () {
                this.citiesVisible = !this.citiesVisible;
                this.countriesVisible = false;
                this.groupsVisible = false;
            },

            getCountryClass (value) {
                if (value === 'Japan' || value === 'Russia' || value === 'Ireland' || value === 'Scotland') {
                    return 'a';
                } else if (value === 'New Zealand' || value === 'South Africa' || value === 'Italy' || value === 'Namibia') {
                    return 'b';
                } else if (value === 'France' || value === 'USA' || value === 'Tonga') {
                    return 'c';
                } else if (value === 'Australia' || value === 'Georgia' || value === 'Wales' || value === 'Uruguay') {
                    return 'd';
                } else {
                    return 'other';
                }
            },

            getGroupClass (value) {
                if (value && value.indexOf('Pool') != -1) {
                    let group = value.split(' ');
                    return group[1].toLowerCase();
                } else {
                    return 'other';
                }
            },

            showMoreCountries () {
                this.showAllCountries = !this.showAllCountries;
            },
            showMoreGroups() {
                this.showAllGroups = !this.showAllGroups;
            },
            showMoreCities () {
                this.showAllCities = !this.showAllCities;
            },
            getMatches() {
                this.matches = this.ticketsData.countriesData;
            },
            setSelectedCountry(country) {
                if (this.selectedCountry !== country) {
                    this.selectedCountry = country;
                } else {
                    this.selectedCountry = 'TEAM';//uncheck
                }
                this.searchByFilters();
                this.countriesVisible = false;
            },
            setSelectedGroup(group) {
                if(this.selectedGroup !== group) {
                    this.selectedGroup = group;
                }else {
                    this.selectedGroup = 'GROUP';
                }
                this.groupsVisible = false;
                this.searchByFilters();
            },
            setSelectedCity(city) {
                if(this.selectedCity !== city) {
                    this.selectedCity = city;
                }else {
                    this.selectedCity = 'CITY';
                }
                this.citiesVisible = false;
                this.searchByFilters();
            },
            setMonths() {
                this.months = ['September', 'October', 'November']
            },
            clearAll() {
                this.countriesVisible = false;
                this.groupsVisible = false;
                this.citiesVisible = false;
                this.keyword = '';
                this.selectedCountry = 'TEAM';
                this.selectedGroup = 'GROUP';
                this.selectedCity = 'CITY';
                // this.selectedDate= 'DATE';
                this.startDate=new Date('2019-09-20')
                this.endDate=new Date('2019-11-02')
                // $('#datepicker').val('DATE');
                this.matches2 = this.matches;
            },
            searchByFilters() {
                let result = [];
                this.matches2 = this.matches;
                if (!this.matches)
                    return;
                let i = 0;
                let selectedCity = (this.selectedCity === 'CITY') ? '' : this.selectedCity.toLowerCase();
                let selectedCountry = (this.selectedCountry === 'TEAM') ? '' : this.selectedCountry.toLowerCase();
                // let selectedDate = (this.selectedDate === 'DATE') ? '' : this.selectedDate;
                let selectedGroup = (this.selectedGroup === 'GROUP') ? '' : this.selectedGroup.toLowerCase();
                let dt1=this.startDate; dt1.setHours(0,0,0,0)
                let dt2=this.endDate; dt2.setHours(0,0,0,0)
                dt2=moment(dt2).add(1, 'days');

                //$.each(this.matches, function (index, value) {
                this.matches.forEach(function (value, index) {
                    if (!(value.participant1_name && value.participant2_name && value.venue && value.group && value.date)) {
                        return
                    }

                    // let dt1=new Date(selectedDate)
                    let dtGame=new Date(value.date)
                    let dtGame1=new Date(value.date)
                    console.log('dtGame1 = ' + dtGame1);
                    let mobileSelectedMonth = event.target.innerText.toString().substring(0,3)
                    switch (mobileSelectedMonth) {
                        case 'Sep':
                            mobileSelectedMonth = 'Sep';
                                break;
                        case 'Oct':
                            mobileSelectedMonth = 'Oct';
                                break;
                        case 'Nov':
                            mobileSelectedMonth = 'Nov';
                                break;
                        default:
                            mobileSelectedMonth = '';
                                break;
                    }

                    // let formattedSelectedDay = dt1.getDate();
                    // let formattedValueDay = dt2.getDate();
                    //
                    // let formattedSelectedMonth = dt1.getMonth();
                    // let formattedValueMonth = dt2.getMonth();

                    if ( (value.participant1_name.toLowerCase().includes(selectedCountry) || value.participant2_name.toLowerCase().includes(selectedCountry))
                        &&(!selectedCity || value.venue.toLowerCase().includes(selectedCity))
                        && (!selectedGroup || value.group.toLowerCase().includes(selectedGroup))
                        // && (!selectedDate || (formattedSelectedMonth === formattedValueMonth  &&  formattedSelectedDay === formattedValueDay)
                        && dtGame>=dt1 && dtGame <=dt2
                        // && (mobileSelectedMonth.length > 0)
                        && (!mobileSelectedMonth || mobileSelectedMonth === dtGame1.toString().substring(4,7))
                    ) {
                        console.log('mobileSelectedMonth', mobileSelectedMonth)
                        result[i++] = value;
                    } else {
                        console.log('ERROR')
                    }



                    // if ( mobileSelectedMonth && mobileSelectedMonth === dtGame1.toString().substring(4,7)) {
                    //     result[i++] = value;
                    // }

                },this)

                this.matches2 = result;
            },
            showMatchesFullList() {
                this.matchesToShow = 10;
            },
            showMatchesShortList() {
                this.matchesToShow = 4;
            },
            onlyUnique(value, index, self) {
                return self.indexOf(value) === index;
            },
            needSelectedBackground(currentValue, selectedValue) {
                if (currentValue === selectedValue) {
                    console.log('city = selectedCity')
                    return 'focus1';
                } else {
                    console.log('city != selectedCity')
                    return '';
                }
            },
            needSelectedBackgroundMobile(currentValue, selectedValue) {
                if (currentValue === selectedValue) {
                    return 'focus1';
                } else {
                    return '';
                }
            },
            needSelectedBackgroundForMonth(currentMonth, mobileSelectedMonth){
                console.log('currentMonth =', currentMonth);
                console.log('mobileSelectedMonth =', mobileSelectedMonth);
                if (currentMonth === mobileSelectedMonth){
                    return 'focus1'
                }else{
                    return ''
                }
            },
            setSelectedMonth(month){
                let self = this;
                self.mobileSelectedMonth = month;
                self.searchByFilters();
            }

        },
        mounted() {
            this.clearAll();
            this.getMatches();
            this.setMonths();
            // $('#datepicker').on('change', function(e) {
            //     this.selectedDate = $('#datepicker').val();
            // })
            this.ticketDataGroups = this.ticketsData.groups.filter(this.onlyUnique);
            this.ticketDataCities = this.ticketsData.cities.filter(this.onlyUnique);

            // $("#datepicker").click(function(e){
            //     let elemOffset=$("#datepicker").offset();
            //     let x=elemOffset.top-20;
            //     let y=elemOffset.left;
            //     $("#ui-datepicker-div").css({'top':x,'left':y});
            // });
        },
        watch: {
            keyword: function () {
                let result = []
                this.matches2 = this.matches;
                if (!this.matches || !this.keyword)
                    return;
                let i = 0;
                let key = this.keyword.toLowerCase();
                $.each(this.matches, function (index, value) {
                    if (
                        value.participant1_name.toLowerCase().includes(key)
                        || value.participant2_name.toLowerCase().includes(key)
                        || value.venue.toLowerCase().includes(key)
                        || value.date.toLowerCase().includes(key)
                    ) {
                        result[i++] = value;
                    }
                })

                this.matches2 = result;
            },

            selectedDate: function () {
                this.searchByFilters();
            },
        },
    }
</script>

<style scoped>
    .btn-search {
        height: 100%;
    }

    .suggestions-show {
        display: block;
    }

    .suggestions-hide {
        display: none;
    }

    .suggestions-dropdown {
        z-index: 1000;
        overflow: auto;
        width: 50%;
    }

    @media screen and (max-width: 768px) {
        .suggestions-dropdown-wrapper {
            width: 100%;
        }
    }

    @media screen and (min-width: 768px) {
        .suggestions-dropdown-wrapper {
            width: 20%;
        }
    }

    .dropdown-autocomplete {
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0.02em;
        color: rgba(29, 29, 29, 0.65);
    }

    .list-reset li{
        background-color: red !important;
    }

    .cursor-pointer {
        border: 1px solid red !important;
        background: lightgrey;
    }
    .focus, .focus1, .focus1.focus {
        box-shadow: 0px 0px 30px rgba(83, 200, 233, 0.2);
        color: #53c8e9 !important;
        border: 1px solid #26bae3 !important;
    }
</style>