<template>
    <div>
        <section class="section-pools">
            <div class="container">
                <h2>
                    Rugby World Cup 2019, JAPAN
                </h2>
                <p>
                    RedTix has been appointed as an Authorised Sub-Agent for Rugby World Cup 2019™.<br>
                    20 Nations will once again compete for rugby's biggest prize of the Webb Ellis Cup.
                    Taking place in Japan, the land of the rising sun, this tournament provides the
                    perfect opportunity to watch the best rugby teams face one another along with
                    exploring a fascinating and beautiful country.
                </p>
                <div class="row d-none d-sm-flex justify-content-between no-gutter-between-xl">
                        <div :class="'component-pool pool-' + g.pool_class" v-for="(g, index) in pools" :key="`${g}-${index}`">
                            <h3 class="title">
                                {{ g.pool_title }}
                            </h3>
                            <div class="countries">
                                <div class="country" v-for="(country, index) in g.countriesList" :key="`${country}-${index}`">
                                    {{ country }}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Pools",
        props: ['ticketsData'],
        data(){
            return {
                groups: [],
                pools: {
                    a: {
                        pool_class: 'a',
                        pool_title: 'POOL A',
                        pool_color: '#59C8E7',
                        countriesList: {
                            country1: 'Ireland',
                            country2: 'Scotland',
                            country3: 'Japan',
                            country4: 'Russia',
                            country5: 'Samoa'
                        }
                    },
                    b: {
                        pool_class: 'b',
                        pool_title: 'POOL B',
                        pool_color: '#F2466F',
                        countriesList: {
                            country1: 'New Zealand',
                            country2: 'South Africa',
                            country3: 'Italy',
                            country4: 'Namibia',
                            country5: 'Canada'
                        }
                    },
                    c: {
                        pool_class: 'c',
                        pool_title: 'POOL C',
                        pool_color: '#3BD8C2',
                        countriesList: {
                            country1: 'England',
                            country2: 'France',
                            country3: 'Argentina',
                            country4: 'USA',
                            country5: 'Tonga'
                        }
                    },
                    d: {
                        pool_class: 'd',
                        pool_title: 'POOL D',
                        pool_color: '#9843B7',
                        countriesList: {
                            country1: 'Australia',
                            country2: 'Wales',
                            country3: 'Georgia',
                            country4: 'Fiji',
                            country5: 'Uruguay'
                        }
                    }

                }
            }
        },
        methods: {
            getGroupsFromTickets(){
                let self = this;
                self.groups = this.ticketsData;
            }
        },
        mounted() {
            this.getGroupsFromTickets();
        }
    }
</script>