<template>
  <div class="d-flex flex-column justify-content-between package-wrapper" :class="`size-${packageItem.size}`">
    <div>
      <a :href="linkToPackage">
      <div class="package-item__image-desktop" :style="{ backgroundImage: `url('${imagesPath}packages/${packageItem.type}-desktop.jpg')`}">
        <div class="package-item__image-mobile" :style="{ backgroundImage: `url('${imagesPath}packages/${packageItem.type}-mobile.jpg')`}">
          <div class="package-item__date">
            {{packageItem.dt | moment("DD MMMM")}} - {{packageItem.dt2 | moment("DD MMMM")}} {{packageItem.dt | moment("YYYY")}}
          </div>
        </div>
      </div>
      </a>
      <div class="d-flex align-items-center package-item__features mb-2" v-for="feature in packageItem.features" :key="feature.title">
        <span class="title-icon" :class="feature.icon"></span>
        <span>{{feature.title}}</span>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <div class="d-flex flex-column text-right">
        <span class="from">From</span>
        <span class="price">RM {{packageItem.price | currencyShort}}</span>
      </div>
      <button 
        type="button" 
        class="btn btn-gradient-get-info btn-gradient" 
        @click="getPackageInfo(packageItem.type)">Get More Info
      </button>       
    </div>
  </div>
</template>

<script>
 import { mapGetters } from 'vuex';

  export default {
    name: 'Package',
    props: {
      packageItem: {
        type: Object,
        default: () => ({})
      },     
    },
    computed: {
      ...mapGetters([
        'imagesPath',
      ]),
      linkToPackage: function() {
        return '/rwc2019/packagedetail/'+this.packageItem.type;
      },
    },
    methods: {
      getPackageInfo (value) {
        window.location = this.linkToPackage//"/rwc2019/packagedetail/" + value;
      }
    }
  }
</script>