<template>
  <div class="d-flex align-items-center flex-wrap">
    <package v-for="packageItem in packagesList" :key="packageItem.type" :package-item="packageItem"></package>
  </div>
</template>

<script>
  export default {
      props: ['packages'],
      name: 'Packages',
      data() {
          return {
              packagesList: [{}]
          }
      },
      mounted(){
          this.packagesList = this.packages;
      }
  }
</script>