@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    background-color: #FCFCFC;
}

header.mainHeader {
    background-color: #1D1D1D;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 1001!important;
    height: 60px;
}

@media screen and (min-width: 200px) and (max-width: 769px){
    search {
        font-size: 24px;
        color: white;
        padding-top: 15px;
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    header.mainHeader .navbar-nav {
        float: right !important; 
        padding: 0px 0px; 
    }

    header.mainHeader .navbar-collapse {
        text-align: center !important;
        padding-bottom: 10px;
        background-color: transparent;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    header.mainHeader .navbar-brand img {
        width: 100px;
        position: relative;
        z-index: 1001;
    }

    header.mainHeader .navbar-nav li a {
        font-family: open_sansregular;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        padding: 5px 21px;
        margin-top: 10px;
    }

    header.mainHeader {
        right: 0;
        z-index: 1001!important;
        height: 44px;
    }
}

.container {
    display: table;
    vertical-align: middle;
}

.vertical-center-row {
    display: table-cell;
    padding-top: 18%; 
    /* vertical-align: middle; */
}

h4 {
    color: rgba(29, 29, 29, 0.75);
}

.text-grey {
    color: rgba(29, 29, 29, 0.35);
}

.p-text-font {
    font-size: 18px;
}

.form-control {
    border: 2px solid #eee;
    border-radius: 2px;
    width: 420px;
    height: 50px;
}

.btn-submit-order {
    background-color: rgba(29, 29, 29, 0.2);
    border-radius: 2px; 
    color: white;
    margin-top: 2%; 
    padding: 15px 60px 15px 60px; 
    font-size: 18px;
}

.btn-submit {
    border-radius: 2px; 
    color: white;
    margin-top: 2%; 
    padding: 15px 60px 15px 60px; 
    font-size: 18px;

    background: #C33A8C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F13B54, #C33A8C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F13B54, #C33A8C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-control:focus {
    border-left: 5px solid #F13B54; 
    border-top: 1px solid rgba(29, 29, 29, 0.2); 
    border-right: 1px solid rgba(29, 29, 29, 0.2); 
    border-bottom: 1px solid rgba(29, 29, 29, 0.2);   
}

.has-error {
    border-left: 5px solid #F13B54 !important; 
    border-top: 1px solid #F13B54 !important; 
    border-right: 1px solid  #F13B54 !important; 
    border-bottom: 1px solid  #F13B54 !important;  
}

.error-message {
    color: #F13B54;
    margin-left: -160px;
    font-size: 12px;
    width: 250px;
    display: inline-block;
    text-align: left;
}

.form-control::-webkit-input-placeholder { color: rgba(29, 29, 29, 0.35); }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgba(29, 29, 29, 0.35) }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgba(29, 29, 29, 0.35) }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: rgba(29, 29, 29, 0.35) }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgba(29, 29, 29, 0.35) }  /* Microsoft Edge */

.form-input {
    border: 2px solid #eee;
    border-radius: 4px;
    height: 60px;
}