.thumbnail {
	width: 220px;
	height: 220px;
    background-size: cover;
    background-position: center center;
}

.circle {
  width: 61px;
  height: 61px;
  background-color: #54bc99;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  text-align: center;   
  line-height: 60px;
  vertical-align: middle;
}
.stepCol {
	padding-top: 20px; 
	padding-bottom: 20px;	
}
.eventCol {
	 padding-top: 20px;
	 padding-bottom: 20px;
}
.btnRed {
    padding-top: 20px;
    padding-bottom: 20px;   
}
.stepDescription {
	padding-top: 15px;
	padding-bottom: 20px;
}

@media only screen and (min-device-width:1080px) {
    .howTitle {
        padding-top: 40px; 
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 768px){
    .stepDescription {
     	/*margin-top: 20px;*/
    }
    .circle {
    	margin-top: 20px;
    }
    footer {
    	padding-top: 40px;
    }
    .footerBottom {
    	margin-top: -20px;
    	padding-top: 40px;
    }
    .mobileFooter {
    	padding-top: 40px;	
    	padding-bottom: 40px;
    }

    .mobileFooter  a {
    	color: #333;
    }

    .mobileFooter  a i {
    	color: #333;
	    font-size: 20px;
	    margin-left: 15px;
	    margin-right: 15px;
    }

    .mobileFooter  p {
    	font-family: Lato;
		font-size: 12.5px;
		text-align: center;	
    }
 }

/*	footer {
	margin-top: 20px;
	background-color: transparent;
	background-image: url('images/redicon/city-skyline.svg');
	background-size: cover;
	height: 300px;
	color: #333;
}


@media only screen and (min-device-width:1080px) {
    footer { 
    	height: 530px;
    }
}

.webFooter a {
    color: #333;
}

.webFooter a i {
    color: #333;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.webFooter p {
    font-family: Lato;
	font-size: 12.5px;
	text-align: center;
}*/

a.seeAll:before
{
    content:"See All";
    display:block;
    width:15px;
}
a.seeAll:before
{
    content:'-' ;
    display:block;
    width:15px;
}
.bottomText {
    padding-left: 0px;
    padding-right: 0px;
}