@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    background-color: #FCFCFC; 
}

.heading-util {
    margin-bottom: 5%;
}

.dark-grey {
    color: rgba(29, 29, 29, 0.75);    
}

.bg-dark-grey {
    background-color: rgba(29, 29, 29, 0.75);    
}

.text-grey {
    color: rgba(29, 29, 29, 0.35)
}

.bg-grey {
    background-color: rgba(29, 29, 29, 0.35);
}

.text-red {
    color: #EB5757;
    font-size: 18px;
}

.instructions-text {
    color: rgba(29, 29, 29, 0.65);
}

#lit-img {
    border-radius: 12px;
}

.card-shadow { 
    box-shadow: 2px 15px 20px rgba(29, 29, 29, 0.2);
}

.form-control-email {
    border: 2px solid #eee;
    border-radius: 4px;
    height: 60px;
}

.form-control-email:focus {
    border-left: 5px solid #F13B54; 
    border-top: 1px solid rgba(29, 29, 29, 0.2); 
    border-right: 1px solid rgba(29, 29, 29, 0.2); 
    border-bottom: 1px solid rgba(29, 29, 29, 0.2);  
}

.form-input {
    border: 2px solid #eee;
    border-radius: 4px;
    height: 60px;
    margin-bottom: 25px;
}

.form-input:focus {
    border-left: 5px solid #F13B54; 
    border-top: 1px solid rgba(29, 29, 29, 0.2); 
    border-right: 1px solid rgba(29, 29, 29, 0.2); 
    border-bottom: 1px solid rgba(29, 29, 29, 0.2);  
}

.form-select {
    border: 2px solid #eee;
    border-radius: 4px;
    height: 60px;
    margin-bottom: 25px;
    position: relative;
    color: rgba(29, 29, 29, 0.35);
    -webkit-appearance: button;

    background-image: url(/images/event-registration/caret.png);
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

#dob {
    color: rgba(29, 29, 29, 0.35);
}

.sm-row {
    background-color: #56CCF2;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.btn-submit {
    border-radius: 2px; 
    color: white;
    margin-top: 2%; 
    padding: 15px 60px 15px 60px; 
    font-size: 18px;

    background: #C33A8C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F13B54, #C33A8C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F13B54, #C33A8C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-pink-shadow {
    box-shadow: 7px 7px 40px rgba(241, 59, 84, 0.35);
    margin-bottom: 10px;    
}

.has-error {
    border-left: 5px solid #F13B54; 
    border-top: 1px solid #F13B54; 
    border-right: 1px solid  #F13B54; 
    border-bottom: 1px solid  #F13B54;  
}

#tickets-form {
    padding-top: 8%;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .2em; left: .230em;
  font-size: 1.4em;
  line-height: 0.8;
  color: #F13B54;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.form-control::-webkit-input-placeholder { color: rgba(29, 29, 29, 0.35); }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgba(29, 29, 29, 0.35) }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgba(29, 29, 29, 0.35) }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: rgba(29, 29, 29, 0.35) }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgba(29, 29, 29, 0.35) }  /* Microsoft Edge */

.form-btn {
    background-color: rgba(29, 29, 29, 0.2);
    border-radius: 2px; 
    color: white;
    margin-top: 2%; 
    padding: 15px 60px 15px 60px; 
    font-size: 18px;
}

.btn-default {
    border: 2px solid #eee;
    background-color: white;
    border-radius: 4px;
    height: 60px;
}

.grey-email {
    color: rgba(29, 29, 29, 0.65);
    font-size: 22px;
}

.text-blue {
    color: #56CCF2;
}

#success-card {
    display: none;
}

#ticket-success-card {
    display: none;
}

.text-65 {
    color: rgba(29, 29, 29, 0.65);
} 

.text-45 {
    color: rgba(29, 29, 29, 0.45); 
}

.text-1D {
    color: #1D1D1D;
}

.card2 {
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),url('images/event-registration/splash.png');
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
    float: left;
}

.card-1 {
    background-size: cover; 
    height: 300px;
    position: relative;
    border-radius: 25px;
}

.card-2 {
    border-radius: 10px;
    background-size: cover;
    height: 300px;
    border-radius: 25px;
}

.unregistered-card1 {
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
            ),url(/images/event-registration/lit_run.png) no-repeat 100% center;
    background-size: cover; 
    height: 300px;
    position: relative;

    border-right: 2px dashed rgba(29, 29, 29, 0.35); 
    border-radius: 20px;
}

.unregistered-ticket-card2 {
    border-radius: 10px;
    background: linear-gradient(
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)
                ),url(/images/event-registration/splash.png) no-repeat 100% center;
    background-size: cover;
    height: 300px;
    position: relative;
    border-radius: 20px;
}

.register-btn {
    background: #C33A8C;
    background: -webkit-linear-gradient(to bottom, #F13B54, #C33A8C);
    background: linear-gradient(to bottom, #F13B54, #C33A8C);
    box-shadow: 7px 7px 40px rgba(241, 59, 84, 0.35);
    margin-bottom: 10px;
    color: white;
    margin-top: 2%;
    padding: 15px 60px 15px 60px;
    height: 60px;
    position: absolute;
    margin-left: -650px;
    margin-top: 120px;
}

.resp-register-btn {
    background: #C33A8C;
    background: -webkit-linear-gradient(to bottom, #F13B54, #C33A8C);
    background: linear-gradient(to bottom, #F13B54, #C33A8C);
    box-shadow: 7px 7px 40px rgba(241, 59, 84, 0.35);
    color: white;
    position: relative;
    margin-left: 125px;
    margin-top: -850px;
}

.navbar-dark {
    background-color: #1d1d1d;
    color: white;
    border-radius: 0%;
    height: 60px;
}

.nav-link {
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 21px;
    margin-top: 10px;
}

.navbar-nav>li>a {
    font-weight: 700;
}

.nav-img {
    position: absolute;
    top: 12px;
    left: 40px;
}

.newsletter-nav {
    -webkit-appearance: none;
    cursor: pointer
}

.details {
    margin-left: 60%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .nav-img {
        top: 0px;
    }
    .navbar-dark {
        height: 66px;
    }
}
