
.pageCart, .pageContent, section.pageContent-Home {
    overflow: hidden;
}
@media screen and (max-width: 768px){
    header.mainHeader {
        top: 0px;
        background-color: black;
        height: 65px;
        display: block;
    }
}
.white {
    background-color: #ffffff;
}
.black {
    background-color: #181818;
    color: #ffffff;
}
#section-black{
    background-color: #181818;
    color: #ffffff;
}
.cnyred {
    background-color: #ec0b44;
}

#section-black h4 {
    font-family: Lato;
    font-weight: 400;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
}

#section-black h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.74;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
}

#rwc19 .introRWC {
    margin-top: 301px;
    height: 460px;
    display: flex;
    width: 100vw;
    position: relative;
    /* align-items: center; */
    justify-content: center;
}
#rwc19 .introRWC img {
    position: absolute;
    width: 1100px;
    bottom: -46px;
    height: auto;
}
#rwc19 .wrapper {
    position: relative;
    overflow: hidden;
    height: 760px;
}
.center {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}
#fuji {
    width: 100vw;
    height: 950px;
    background-color: #ffffff;
    background-image: url('images/rwc19/fuji.png');
    background-size: contain;
    background-position: center 108%;
    background-repeat: no-repeat;
    color: #ffffff;
} 

@media  screen and (min-width: 1920px) {
    #fuji {
            width: 100vw;
            height: 1200px;
            background-color: #ffffff;
            background-image: url(images/rwc19/fuji.png);
            background-size: contain;
            background-position: center 46vh;
            background-repeat: no-repeat;
            color: #ffffff;
        } 
}

#fuji .title {
    border-top: 4px solid #ec0b44;
    margin-top: 50px;
    padding: 10px 0px;
    color: #ec0b44;
}
#fuji .title h4 {
    text-transform: uppercase;
    margin: 10px 0px;
    color: #ec0b44;
    font-family: Lato;
    font-size: 42px;
    font-weight: bold;
    text-align: left;
}
#fuji .title h1 {
    margin-top: 0px;
    font-size: 70px;
    font-weight: bold;
    line-height: 0.92;
    text-align: left;
    color: #333333;
}
#fuji .fujiImg {
    width: 100vw;
}
@media screen and (max-width: 768px){
    #fuji {
        width: 100%;
        height: 400px;
        background-color: #ffffff;
        background-image: url('images/rwc19/fuji.png');
        background-size: contain;
        background-position: center 105%;
        background-repeat: no-repeat;
        color: #ffffff;
    }

    #fuji .title {
        border-top: 4px solid #ec0b44;
        margin: auto 20px;
        margin-top: 50px;
        padding: 10px 0px;
        color: #ec0b44;
    }
    #fuji .title h4 {
        text-transform: uppercase;
        margin: 0px 0px;
        color: #ec0b44;
        font-family: Lato;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
    }
    #fuji .title h1 {
        margin-top: 0px;
        font-size: 33px;
        font-weight: bold;
        line-height: 0.92;
        text-align: left;
        color: #333333;
    }
}

#rwc19-center .monument1 {
    background-image: url('images/rwc19/monument1.png');
    background-size: 90%;
    background-position: bottom; 
    background-repeat: no-repeat;
    height: 200px;
    padding: 20px 20px;
    margin-top: 10px;
}
#rwc19-center .monument2 {
    background-image: url('images/rwc19/monument2.png');
    background-size: 90%;
    background-position: bottom; 
    background-repeat: no-repeat;
    height: 300px;
    padding: 20px 20px;
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    #rwc19-center .monument2 {
        background-image: url('images/rwc19/monument2.png');
        background-size: 90%;
        background-position: bottom; 
        background-repeat: no-repeat;
        padding: 20px 20px;
        margin-top: 10px;
        min-height: 350px;
    }
}
.btn-rwc {
    font-family: Lato;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
    border-radius: 100px;
    background-color: #ec0b43;
    padding: 10px 30px;
    margin: 20px 20px;
}

#schedule {
    margin: 70px auto;
}

#schedule .schedule-mobile {
    padding: 30px 20px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;  
}

#schedule .schedule-row {
    margin-top: 30px; 
    margin-bottom: 60px; 
}
#schedule .schedule-col {
    margin: 15px 0px;
}

#schedule img {
    width: 250px;
}

#schedule .day {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: #ffffff;
}

#schedule .day-mobile 
{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-size: 15px;
    letter-spacing: 0.1px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

#schedule .day-mobile p {
    margin-top: 60px;
}

.border-bottom {
    border-bottom: solid 1.5px #ec0b43;
}

.mt-md {
    margin-top: 50px; 
}

#subscribe {
padding-left: 0px;
padding-top: 15%;
padding-bottom: 13%;
}

#subscribe .subscribe-form {
z-index: 2;
}
@media screen and (max-width: 768px){
    #subscribe {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15%;
        padding-bottom: 112%;
    }
}
#subscribe h4 {
    text-align: left;
}
#subscribe input {
    background-color: #181818;
    border: none;
    border-bottom: solid 0.5px #cfcfcf;
    width: 100%;
    margin-top: 35px;
    text-align: left;
    padding-left: 0px;
}
@media screen and (max-width: 768px){
    #subscribe h4, p {
        text-align: center;
    }
}
#subscribe .subs-form {
    padding-left: 0px;   
}
#subscribe .bottompic {
    position: absolute;
    width: 50%;
    right: -179px;
    top: -165px;
    z-index: 1;
}
@media screen and (max-width: 768px){
    #subscribe .bottompic {
        position: absolute;
        width: 88%;
        right: -81px;
        top: 125%;
    }

    #subscribe .subs-form {
        padding-left: 15px;   
    }
}


#rwc-pools .border-bottom {
border-bottom: solid 0.5px #cfcfcf;
padding-bottom: 80px;
}
#rwc-pools .pools-mobile {
margin: 40px 0px;
} 
#rwc-pools .poolImg {
width: 120px;
}
#rwc-pools .table>tbody>tr>td {
padding: 20px;
line-height: 1.42857;
vertical-align: top;
border-top: solid 0.5px #cfcfcf;
}

#rwc-pools .pools-table {
padding: 0px 70px;
}
#rwc-pools .pools-text {
padding: 0px 70px;
text-align: center;
}
@media screen and (max-width: 768px){
    #rwc-pools .pools-text {
        padding: 0px 10px;
        text-align: left;
    }
}
