
.fighterDetails2 {
  text-align: left;
}
.fighterCard {
overflow: hidden;
}
div.fighterDetails * {
padding-left: 0px;
}
.social-media {
padding-top: 10px;
padding-left: 15px !important;
}
.social-media a{
color: #fff;
}
.section-white *{
color: #333;
}
.section-grey {
color: #333;
}
.fighterCap {
font-family: Lato;
font-weight: 100;
}
.font-Lato {
font-family: Lato;
font-weight: 100;
}
.ptb-50 {
padding-top: 50px;
padding-bottom: 50px;
}
.font-openSans {
font-family: 'Open Sans', sans-serif;
}
.font-openSansRoboto {
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
color: #616161;
}
.background-radial {
background-image: radial-gradient(circle at 48% 40%, #0e184a, #121015);
}
.background-radial2 {
background-image: radial-gradient(circle farthest-side at bottom right, #0e184a, #121015);
}
.background-arena1 {
width: 90%;
height: 100%;
display: block;
position: absolute;
top: 124px;
left: 114px;
opacity: 0.2;
}
.background-arena1::after {
content: "";
background-image: url(images/ufc2018/arena.png);
opacity: 0.5;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;

}
section.pageContent .intro {
padding-bottom: 277px;
overflow: hidden;
}@media only screen and (max-device-width:1080px) {
section.pageContent .intro {
  padding-bottom: 10px;
}
}
#arenaPlan {
	padding-top: 60px;
padding-bottom: 30px;
}
span.subTitle {
font-size: 11px;
font-weight: 600;
color: #8f919d;
}
@media only screen and (max-device-width:1080px) {
h1,h3 {
	font-size: 20px; 
}
}
@media screen and (max-width: 768px){
.fighterDetails {
  /*text-align: center;*/
}
/*div.fighterDetails * {
  padding-left: 15px;
}*/
div.fighterDetails a {
  padding-left: 0px;
}

}
.arena {
 object-fit: contain;
 position: absolute;
 opacity: 0.1;
 width: 100%;
}
.past-photos * {
padding-right: 0px; 
padding-left: 0px;
}

@media screen and (max-width: 768px){
.fighterName h1{
  font-size: 30px;
}
}
.ticket-card {
background-color: #ffffff;
height: 100%;
padding-right: 5px;
padding-left: 5px;
width: 200px;
margin-top: 20px;
font-family: 'Open Sans', sans-serif;
/*margin-right: 20px;*/
} 
.ticket-card p { 
	color: #333;
}

.ticket-card #head {
  padding-top: 10px;
  padding-bottom: 20px;
} 
.ticket-card #head .middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
} 
.ticket-card #head .middle .text {
font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-weight: bold;
text-align: center;
color: #fff;
}
.ticket-card #head .middle .text-grey {
font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-weight: bold;
text-align: center;
color: #3b3b3b;
}
.ticket-card #head .middle .text-red {
font-family: 'Open Sans', sans-serif;
font-size: 10px;
text-align: center;
color: #fff;
}
.ticket-card #head img{
width:100%;
padding-top: 10px;
padding-bottom: 30px;
transition: .5s ease;
backface-visibility: hidden;
opacity: 1;
display: block;
}

.ticket-card .price {
text-align: center;
font-size: 20.5px;
font-weight: bold;
color: #333333;
}
.image {
  width: 100%;
  height: 63px;
  position:relative;
}

.ticket-card #head .image > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color: #b30000;
  /* opacity:0.5; */
}

.ticket-card #head .image > .overlay-soldout {
  width:100%;
  height:100%;
  position:absolute;
  background-color: #999999;
  /* opacity:0.5; */
}

.ticket-card #head .image .middle {
  opacity: 1;
}

@media only screen and (min-device-width:1080px) {
#getTicket {
  padding-bottom: 150px;
}
.note {
  margin-top: 90px;
}
}
.datesFlight {
font-size: 13px;
font-weight: 600;
text-align: center;
color: #333333;
}
.scheduleFlight {
font-size: 11px;
padding-bottom: 20px;
}
.titleOpenSans {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
font-weight: bold;
text-align: center;
color: #ffffff;
}

.reminder {
	font-size: 16px;
}
.smallReminder {
	font-style: italic;
	font-size: 11.5px;
}
