@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
body {
  font-family: 'Raleway', sans-serif; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

img {
  max-width: 100%; }

button {
  cursor: pointer; }

.login-box-img {
  float: left;
  height: 100%;
  width: 100%;
  background: url(/images/ultrapassengerbooking2018/bitmap2.png);
  background-size: cover;
  border-top-left-radius: 6.6px;
  border-bottom-left-radius: 6.6px;
  background-position: center; }

.login-page {
  width: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.login-box {
  max-width: 920px;
  width: 100%;
  border-radius: 6.6px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: relative; }

.login-form {
  padding: 90px 120px; }

.custom-lable {
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  padding-top: 3px; }

.custom-input {
  height: 63.9px;
  border-radius: 6.6px;
  border: solid 0.8px #979797;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333; }

.btn-form {
  width: 100%;
  height: 63.9px;
  border-radius: 6.6px;
  background-image: linear-gradient(to left, #3023ae, #c86dd7);
  font-family: Lato;
  font-size: 33.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer; }

.sub-button {
  margin-top: 14px; }

/* ***************************************************
******************HOME PAGE****************************
***************************************************** */
.home-page {
  width: 100%;
  float: left;
  background-color: #2675b4; }

.main-home {
  width: 100%;
  /* float: left; */
  /* padding: 80px 0; */
  background-color: #fff; }

.number-bar {
  width: 100%;
  /* float: left; */
  /* padding: 0 50px; */ }

.number-bar .code-text {
  font-family: Lato;
  font-size: 61.6px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a90e2; }

.home-form {
  width: 100%;
  float: left;
  padding: 0 80px 0 40px; }

.Passenger-1 {
  font-family: Lato;
  font-size: 26.2px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a90e2; }

.hr-pass {
  height: 1px;
  background-color: #979797;
  border: 0; }

.home-input {
  height: 37px;
  border-radius: 10.2px;
  border: solid 1.3px #979797;
  margin-top: 5px; }

.home-lable {
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.27;
  letter-spacing: normal;
  text-align: right;
  color: #333333;
  padding: 0; }

.Details-required-for {
  font-family: Lato;
  font-size: 26.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin-top: 3rem; }

.addmore {
  width: 100%;
  float: left;
  text-align: center;
  padding: 15px 0; }

.addmore a {
  font-family: Lato;
  font-size: 26.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-decoration: none; }

.submit-home {
  width: 100%;
  float: left;
  margin-bottom: 50px; }

.submit-home p {
  font-family: Lato;
  font-size: 26.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  padding: 0px 40px 15px 23px; }

.btn-form-home {
  width: 362.7px;
  height: 63.9px;
  border-radius: 6.6px;
  background-image: linear-gradient(to left, #3023ae, #c86dd7);
  font-family: Lato;
  font-size: 33.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer; }

.hidden {
  display: none; }

.home-box-home {
  float: left;
  width: 100%;
  height: 100%;
  background-image: url(/images/ultrapassengerbooking2018/picture.jpg);
  background-size: 100%;
  background-repeat: no-repeat; }

/* XS */
.text-only-xs .Order-summary {
  font-family: Lato;
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  margin: 0; }
.text-only-xs .DAY-COMBO-Flight {
  font-family: Lato;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  margin: 0; }
.text-only-xs .number-xs {
  font-family: Lato;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: #4a90e2;
  margin: 0;
  padding-top: 5px; }
.text-only-xs .Sed-diam-ex-imperdi {
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  margin: 5px 0 0 0; }
.text-only-xs .QTY {
  font-family: Lato;
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: #333333;
  margin-bottom: 10px; }

  
/* ***************************************************
******************HOME PAGE****************************
***************************************************** */
/* *******MODEL********* */
.home-modal-dialog {
  margin: 100px auto; }

.modal-content {
  border-radius: 6.6px;
  border: 0; }

.thanku {
  width: 100%;
  float: left;
  padding: 120px 2px; }

.thanku p {
  font-family: Lato;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333; }

.btn-modal {
  width: 362.7px;
  min-width: 180px;
  height: 63.9px;
  border-radius: 6.6px;
  background-image: linear-gradient(to left, #3023ae, #c86dd7);
  font-family: Lato;
  font-size: 33.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.model-img {
  float: left;
  width: 100%;
  height: 100%;
  background-image: url(/images/ultrapassengerbooking2018/bitmap2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2a73b4;
  border-top-left-radius: 6.6px;
  border-bottom-left-radius: 6.6px; }

.modal-open .modal {
  padding-right: 0 !important; }

.mobile-line {
  width: 100%;
  float: left;
  position: relative; }

.passenger-error {
  width: 50%; }

@media (max-width: 1024px) {
  .login-form {
    padding: 80px 50px; }

  /* HOME */
  .home-lable {
    font-size: 12px;
    padding: 3px 0; }

  .home-input {
    margin-top: 0; }

  .number-bar .code-text {
    font-size: 53px; }

  /* HOME END */
  /* MODEL */
  .btn-modal {
    width: 250px; }

  .thanku {
    padding: 80px 10px; }

  .thanku p {
    font-size: 27px; } }
@media (max-width: 768px) {
  .login-form {
    padding: 70px 20px; }

  /* HOME */
  .number-bar {
    padding: 0 20px; }

  .home-form {
    padding: 0 20px 0 15px; }

  .number-bar .code-text {
    font-size: 45px; }

  /* HOME END */
  /* MODEL */
  .thanku {
    padding: 50px 10px; }

  .thanku p {
    font-size: 20px; }

  .passenger-error {
    width: 100%; } }
@media (max-width: 576px) {
  .login-box-img {
    height: 210px;
    background: url(/images/ultrapassengerbooking2018/mobile-login.png);
    background-position: center;
    background-size: cover;
    border-radius: 0; }

  .custom-input {
    height: 37px;
    font-size: 16px; }

  .sub-button {
    text-align: center; }

  .custom-lable {
    font-size: 13px; }

  .btn-form {
    width: 166.2px;
    height: 33.4px;
    font-size: 14.3px;
    margin-top: 15px; }

  .login-form {
    padding: 35px 25px; }

  /* Home Page */
  .home-lable {
    text-align: left; }

  .pad-zero {
    padding: 0; }

  .submit-home p {
    font-size: 14px;
    text-align: center; }

  .btn-form-home {
    width: 166px;
    height: 33.4px;
    font-size: 14px;
    margin-top: 10px; }

  .addmore a {
    font-size: 18px; }

  .addmore a img {
    width: 33px; }

  .Details-required-for {
    width: 100%;
    font-size: 16px;
    margin-top: 3rem; }

  .number-bar .code-text {
    font-size: 30px;
    padding-top: 15px; }

  .home-box-home {
    height: 210px;
    background-image: url(/images/ultrapassengerbooking2018/mobile.png);
    background-position: center;
    background-size: cover; }

  .main-home {
    padding: 30px 0; }

  .text-only-xs {
    width: 100%;
    float: left;
    display: block; }

  .form-group {
    margin-bottom: 0.7rem;
    font-size: 12px;  
  }

  /* MODAL */
  .modal-content {
    margin: 0 15px;
    border-radius: 0; }

  .model-img {
    float: left;
    width: 100%;
    height: 210px;
    background-image: url(/images/ultrapassengerbooking2018/mobile-login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2a73b4;
    border-radius: 0px; }

  .btn-modal {
    width: 167px;
    height: 34px;
    font-size: 14.3px;
    margin-top: 90px; }

  .Passenger-1 {
    font-size: 16px;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    left: 50%;
    top: 6px;
    margin-left: -45px;
    padding: 0 10px; }

  .text-only-xs .Order-summary {
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin: 0; }
  .text-only-xs .DAY-COMBO-Flight {
    font-family: Lato;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin: 0; }
  .text-only-xs .number-xs {
    font-family: Lato;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: right;
    color: #4a90e2;
    margin: 0;
    padding-top: 5px; }
  .text-only-xs .Sed-diam-ex-imperdi {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin: 5px 0 0 0; }
  .text-only-xs .QTY {
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: right;
    color: #333333;
    margin-bottom: 10px; } }
@media (min-width: 576px) {
  .main-right-container {
    padding: 50px 25px; } }
@media (min-width: 768px) {
  .main-right-container {
    padding: 50px 25px; } }
@media (min-width: 1024px) {
  .main-right-container {
    padding: 50px 25px; } }
@media (min-width: 1365px) {
  .main-right-container {
    padding: 80px; } }
/* App.css */
.form-group.login-error {
  color: red;
  font-size: 12px;
  text-align: center; }

.passenger-error {
  margin: 0 auto; }

input.has-error {
  background-color: #f8d7da;
  border: 1px solid #ff7f8d; }

.error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545; }

#add-passenger.disabled {
  opacity: .5;
  cursor: not-allowed; }

.submit-disabled {
  opacity: .5;
  cursor: not-allowed; }

/*# sourceMappingURL=ultrapassengerbooking2018style.css.map */
