section.pageContent section.pageCategory-section .subSecTitle {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 35px;
}

section.pageContent section.pageCategory-section-alt {
    background-color: #000000
}

section.pageContent section.pageCategory-section-alt .subSecTitle {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.longLogo {
    width: 340px;
}
.whiteLogo {
    width: 440px;
}
.collageImg {
    padding: 8px;
}
.wrapper1 {
    padding-right: 0px;
}
.wrapper2 {
    padding-left: 0px;   
}
.pd-0 {
    padding: 0px;   
}
section.pageContent .tixPrice .note h2 { 
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    font-family: Lato;
    font-weight: 100;
}

section.pageContent .tixPrice .note ol li{ 
    color: #ffffff;
    font-family: Lato;
    font-weight: 100;
}

section.pageContent .tixPrice .note p{ 
    color: #ffffff;
    font-family: Lato;
    font-weight: 100;
}

a {
    color: #c37eff;
}

.bottom{
    background-image: url('/images/ultrasingapore2018/bottom1.jpg');
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    height: 700px;
}
.ultraBtn {
    width: 134px;
    height: 33px;
    border-radius: 8px;
    background-image: linear-gradient(to left, #3023ae, #c86dd7);
    font-family: Lato;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    color: #ffffff;
}
.card {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}

.cardWrapper {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cardWrapper:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card .card-body .card-title {
    font-family: Lato;
    font-size: 120%;
    font-weight: bold;
    text-align: left;
    color: #333333;
    margin-bottom: 25px;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* number of lines to show */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.card .card-body a {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #2e7fcc;
}

 section.pageContent .intro .leftBar .fa {
    width: 20px;
    color: #2e7fcc;
}

.card .card-body .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* number of lines to show */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: Lato;
    font-weight: 10;
    color: #333333;
}
.section-black p {
    font-family: Lato;
    font-weight: 100;
    line-height: 1.3;
}


.section-black-alt {
    background-color: #121015;
    
}

.section-black-alt p {
    font-family: Lato;
    font-weight: 100;
    line-height: 1.3;
    color: #999999;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-black-alt h1 {
    color: #ffffff;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 35px;
}

@media screen and (max-width: 768px){
    .bottom{
        background-image: url('/images/ultrasingapore2018/bottom1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 700px;
    }
}


.ultraBuyBtn {
    width: 120px;
    height: 33px;
    border-radius: 8px;
    background-image: linear-gradient(to left, #3023ae, #c86dd7);
    font-family: Lato;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    color: #ffffff;
}

.ultraBuyBtnGrey {
    width: 120px;
    height: 33px;
    border-radius: 8px;
    background-image: linear-gradient(to left, #000000, #999999);
    font-family: Lato;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    color: #ffffff;
}

.ultraBuyBtn:active {
    background-image: linear-gradient(to left, #3023ae, #c86dd7);
}

/*  select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
*/
.note {
    padding-top: 30px;
}
.note h4{
    font-family: Lato;
    font-weight: 300;
    color: #ffffff;
}
 
.ticketRow {
    font-family: Lato;
    height: 162px;
    background-color: #fbfbfb;
    padding-top: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.ticketRow div {
    height: 80px;
}
.ticketRow .border-left{
    border-left: solid 1px #cbd5e2;
}
.ticketRow .ticketTitle h1{
    font-size: 46px;
    font-weight: 900;
    text-align: center;
    color: #cbd5e2;
    margin: 0px;
}
.ticketRow .ticketTitle p{
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.41);
    margin: 0px;
}
.ticketRow .ticketDay {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    text-align: left;
    overflow-y: scroll;
}
.ticketRow .ticketDay h6{
    font-size: 18px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #333333;
}



/*.ticketRow .ticketAdmission {
    display: flex;
    align-items: center;
    justify-content: center;
}*/
.ticketRow .ticketAdmission p {
    margin-bottom: 0px;
    line-height: 19px;
}

.ticketRow .ticketBuy h6 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 600;
}

.ticketRow .ticketBuy small {
    font-size: 70% !important;
}

.ticketRow .ticketPrice {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ticketRow .ticketPrice .priceRow{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    flex-direction: row; 
}

.ticketRow .ticketPrice .priceRow small {
    line-height: 1;
}

.ticketRow .ticketPrice .priceRow .discountLabel {
    padding: 4px 10px;
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    background-color: #b30000;
}

.ticketRow .ticketPrice h5 {
    text-align: left;
    text-decoration: line-through;
    color: #B30000;
    font-size: 10px;
    padding-right: 5px;
}

.ticketRow .ticketPrice h6 {
    font-weight: bold;
    text-align: left;
    color: #000000;
    font-size: 21px;
    padding: 0px;
}

.ticketRow .ticketPrice .ultraBuyBtn a {
   padding-top:5px;
}

.ticketRow .ticketPrice .textLeft {
    margin-left: 0px;
}

.ticketRow .ticketPrice .textRight {
    margin-right: 0px;
}


.ticketBundle {
    font-family: Lato;
    height: 50px;
    background-color: #BC67D4;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ticketBundle .message {
    padding: 0px;
    margin: 5px;
    text-align: left;
    color: #ffffff;
}

.ticketCard {
    width: 100%;
    background-color: #fbfbfb;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666666;
    padding: 20px; 
    overflow: hidden;
}

/*.ticketCard:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}*/

.ticketCard .card-body{
    
}

.ticketCard .card-body .cardTop {
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: solid 0.8px #cbd5e2;
}
.ticketCard .card-body .cardTop p{
    margin-bottom: 0px;
}
.ticketCard .card-body .cardTop .ticketTier {
    font-size: 12px;
    font-weight: 400;
    color: #cbd5e2;
}
.ticketCard .card-body .cardTop .ticketTier .ticketCategory {
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    color: #cbd5e2;
}
.ticketCard .card-body .cardTop .ticketFlight {
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.0;
    letter-spacing: 0.3px;
    text-align: left;
    color: #333333;
}

.ticketCard .card-body .cardTop .ticketPrice {
    padding-top: 50px;
}

.ticketCard .card-body .cardTop .ticketPrice p{
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    line-height: 13px;
}

.ticketCard .card-body .cardTop .ticketPrice small{
    font-family: Lato;
    font-size: 9.6px;
    font-weight: 300;
    letter-spacing: 0.2px;
    color: #676a6a;
}


.ticketCard .card-body .cardBottom {
    padding-top: 15px;
    padding-bottom: 15px;
}


.ticketCard .card-body .cardBottom .ticketPrice {
    font-weight: bold;
    text-align: center;
    color: #0d6bc4;
    font-size: 16px;
    height: 20px;
}
.ticketCard .card-body .cardBottom .ticketDiscount {
    text-decoration: line-through;
    text-align: center;
    color: #b30000;
    font-size: 12px;
}

/*.selectUltra {
    color: #BC67D4;
}*/
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    margin-bottom: 10px;
}
.bootstrap-select .btn-default {
    color: #333;
    background-color: #fff;
}
.bootstrap-select .btn {
    border: solid 1px #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    border-radius: 0px;
    padding: 10px 15px;
    /*-webkit-font-smoothing: subpixel-antialiased;
    transition: border .25s linear,color .25s linear,background-color .25s linear;*/
}

.dropdown-menu>li:first-child>a:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.dropdown-menu>li>a {
    padding: 8px 16px;
    line-height: 1.429;
    color: #333;
}

.btn-group.open .dropdown-toggle {
    color: #333;
    box-shadow: none;
}

.btn-default.active, .btn-default.hover, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    background-color: #fff;
    border-color: #333;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.btn-default.dropdown-toggle.focus, .open>.btn-default.dropdown-toggle:focus, .open>.btn-default.dropdown-toggle:hover {
    color: #333;
    background-color: #fff;
    border-color: #333;
}

.dropdown-menu, .select2-drop {
    z-index: 1000;
    background-color: #fff;
    min-width: 220px;
    border: solid 1px #333;
    margin-top: 9px;
    padding: 0;
    font-size: 14px;
     border-radius: 0px; 
    box-shadow: none;
}
.btn-default.active, .btn-default.hover, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #333;
}
.bs-caret {
    color: #7d7d7d;
}

.titleBundle {
    background-image: url(/images/ultrasingapore2018/plane.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 85% 100%;
    height: 256px;
    margin-bottom: 30px;
}

.titleBundle img {
    width: 70px;
    height: 70px;
    vertical-align: middle;
}
.titleBundle h1 {
    margin-top: 170px;
    font-family: Lato;
    font-size: 38px;
    font-weight: 900;
    color: #333;
}
@media screen and (max-width: 768px){
    .titleBundle {
        margin-top: 20px;
        padding-top: 60px;
        height: 100%;
        background-size: 100%;
        background-position: 85% 9%;
    }
    .titleBundle h1 {
        margin-top: 0px;
        font-family: Lato;
        font-size: 30px;
        font-weight: 900;
        color: #333;
    }
    .titleBundle img {
        width: 40px;
        height: 40px;
    }
}

.discountTag {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-family: Lato;
    font-weight: 600;
    line-height: 1.85;
    text-align: left;
    color: #ffffff;
    background-color: #fc3d55;
    height: 73px;
    position: absolute;
    display: block;
    clear: both;
    height: 22px;
    text-align: center;
    top: 18px;
    left: -38px;
    padding-left: 40px;
    padding-right: 40px;
}

/*.ticketRow .discountTag {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-family: Lato;
    font-weight: 600;
    line-height: 1.85;
    text-align: left;
    color: #ffffff;
    background-color: #fc3d55;
    height: 73px;
    position: absolute;
    display: block;
    clear: both;
    height: 22px;
    text-align: center;
    top: 18px;
    left: -38px;
    padding-left: 40px;
    padding-right: 40px;
}*/

/*.ticketRowFlight .discountTag {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-family: Lato;
    font-weight: 600;
    line-height: 1.85;
    text-align: left;
    color: #ffffff;
    background-color: #fc3d55;
    height: 73px;
    position: absolute;
    display: block;
    clear: both;
    height: 22px;
    text-align: center;
    top: 18px;
    left: -38px;
    padding-left: 40px;
    padding-right: 40px;
}*/

 .logoBottom {
    width:250px; 
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 40px;
}

@media (max-width: 992px) { 
     .bottom{
        background-image: url('/images/ultrasingapore2018/bottom1.jpg');
        background-position: 80% 50%;
        background-size: cover;
    }    

}
.ticketRowFlight {
    font-family: Lato;
    height: 200px;
    background-color: #fbfbfb;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.ticketRowFlight div {
    height: 80px;
}
.ticketRowFlight a {
    cursor: pointer;
}
.ticketRowFlight  .infobtn {
    color: #333;
}
.ticketRowFlight  .ultraBuyBtn {
    color: #fff;
}
.ticketRowFlight .border-left{
    border-left: solid 1px #cbd5e2;
}
.ticketRowFlight .flightTitle .infobtn{
    color: #333;
    margin-left: 24px;
}

.ticketRowFlight .ticketTitle h1{
    font-size: 46px;
    font-weight: 900;
    text-align: center;
    color: #cbd5e2;
    margin: 0px;
}
.ticketRowFlight .ticketTitle p{
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.41);
    margin: 0px;
}
.ticketRowFlight .ticketDay {
    margin: 0px;
    text-align: left;
    overflow-y: scroll;
}
.ticketRowFlight .ticketDay h6{
    font-size: 18px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #333333;
}

.ticketRowFlight .ticketAdmission {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticketRowFlight .ticketBuy h6 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 600;
}
.ticketRowFlight .ticketBuy small {
    font-size: 70% !important;
}

.ticketRowFlight .ticketBuy .prices {
    height: auto;
}

.ticketRowFlight .ticketBuy .prices .strikethrougPrice {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
    font-size: 10px;
    float: left;
    position: absolute;
    left: 0;
    top: 10px;
}

.ticketRowFlight .ticketBuy .prices .discountPrice {
    font-size: 20px;
    text-align: right;
    margin-left: 60px;
}

.ticketRowFlight .ticketPrice {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ticketRowFlight .ticketPrice .priceRow{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    flex-direction: row; 
}

.ticketRowFlight .ticketPrice .priceRow small {
    line-height: 1;
}

.ticketRowFlight .ticketPrice .priceRow .discountLabel {
    padding: 4px 10px;
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    background-color: #b30000;
}

.ticketRowFlight .ticketPrice h5 {
    text-align: left;
    text-decoration: line-through;
    color: #B30000;
    font-size: 10px;
    padding-right: 5px;
}
.ticketRowFlight .flightTitle {
    height: 50px;
}
.ticketRowFlight .flightTitle h6 {
    text-align: center;
    font-size: 22px;
}

.ticketRowFlight .ticketPrice h6 {
    font-weight: bold;
    text-align: left;
    color: #000000;
    font-size: 21px;
    padding: 0px;
}

.ticketRowFlight .ticketPrice .ultraBuyBtn a {
   padding-top:5px;
}

.ticketRowFlight .ticketPrice .textLeft {
    margin-left: 0px;
}

.ticketRowFlight .ticketPrice .textRight {
    margin-right: 0px;
}
.ticketRowFlight .flightDescription p {
    margin-bottom: 0px;
    line-height: 17px;
}

.ticketRowFlight .flightDescription .plane {
    font-family: Lato;
    font-size: 12px;
    font-style: italic;
    color: #333333;
}

.ticketRowFlight .flightDescription .schedule {
    font-family: Lato;
    font-size: 12px;
    font-weight: 200;
    color: #969696;
}

.ticketRowFlight .flightDescription .destination {
    font-family: Lato;
    color: #333333;
    font-size: 13px;
}
.tixOptBtn {
    width: 100%;
    border-radius: 5.6px;
    background-color:  #9b9b9b;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    height: 40px;
    color: #ffffff;
}
.tixOptBtn i {
    margin-right: 5px;
}
/*.tixOptBtn:active{
    background-color: #7ad1ea;
}*/
.tixOptBtn:hover{
    background-color: #c86dd7;
}

@media screen and (max-width: 768px){ 
    .tixOptBtn {
        width: 100%;
        border-radius: 5.6px;
        background-color: #9b9b9b;
        padding: 8px 6px;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-weight: 100;
        margin-left: 0px;
        margin-right: 0px;
        height: 100%;
        color: #ffffff;
    }
    .tixOptBtn i {
        margin-right: 0px;
    }

    .tixOptBtn p {
        margin: 0px;
        font-size: 10px;
    }

}

.pd-0 {
    padding: 0px;
}

.ps-9 {
    padding-left: 4.5px;
    padding-right: 4.5px;
    padding-top: 5px;
}
.mobileOptBtn {
    border-radius: 3px;
    background-color: #a6a6a6;
    padding: 10px;
}

.ticketCardFlight {
    width: 100%;
    background-color: #fbfbfb;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666666;
    padding: 20px; 
    overflow: hidden;
}

.ticketCardFlight .card-body .infobtn{
    margin-bottom: -26px;
    margin-right: -16px;
}
.ticketCardFlight .card-body .infobtn i{
    color: #333;
    font-size: 22px;
}

.ticketCardFlight .card-body .cardTop {
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: solid 0.8px #cbd5e2;
}
.ticketCardFlight .card-body .cardTop p{
    margin-bottom: 0px;
}
.ticketCardFlight .card-body .cardTop .ticketTier {
    font-family: Lato;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #9b9b9b;
}
.ticketCardFlight .card-body .cardTop .ticketTier .ticketCategory {
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    color: #cbd5e2;
}

.ticketCardFlight .card-body .cardTop .ticketFlightCombo {
    font-size: 19px;
    font-family: Lato;
    font-weight: bold;
    line-height: 1.0;
    letter-spacing: 0.3px;
    color: #333333;
}

.ticketCardFlight .card-body .cardTop .ticketFlightCombo:first-line {
    font-size: 39px;
}
.ticketCardFlight .card-body .cardTop .ticketFlight {
    font-family: Lato;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.0;
    letter-spacing: 0.3px;
    color: #333333;
}

.ticketCardFlight .card-body .cardTop .ticketTitle {
    padding-top: 36px;
}

.ticketCardFlight .card-body .cardTop .ticketPrice {
    padding-top: 42px;
}

.ticketCardFlight .card-body .cardTop .ticketPrice p{
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    line-height: 13px;
}

.ticketCardFlight .card-body .cardTop .ticketPrice small{
    font-family: Lato;
    font-size: 9.6px;
    font-weight: 300;
    letter-spacing: 0.2px;
    color: #676a6a;
}


.ticketCardFlight .card-body .cardBottom {
    padding-top: 15px;
    padding-bottom: 15px;
}


.ticketCardFlight .card-body .cardBottom .ticketPrice {
    font-weight: bold;
    text-align: center;
    color: #0d6bc4;
    font-size: 16px;
    height: 20px;
}
.ticketCardFlight .card-body .cardBottom .ticketDiscount {
    text-decoration: line-through;
    text-align: center;
    color: #b30000;
    font-size: 12px;
}

.ticketCardFlight .card-body .cardBottom .flightBuy{
    padding-top: 30px;
}

.ticketCardFlight .card-body .cardBottom table {
    background-color: #fbfbfc;
}
.ticketCardFlight .card-body .cardBottom table>tbody>tr>th {
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #333333;
    padding-left: 15px;
}

.ticketCardFlight .card-body .cardBottom table>tbody>tr>td {
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.3px;
    text-align: center;
    color: #9b9b9b;
    padding-left: 15px;
    text-align: left;

}
.ticketCardFlight .card-body .cardBottom table>tbody>tr>td .place{
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: center;
    color: #08090a;
    font-style: normal;
}
.ticketCardFlight .card-body .cardBottom .table>thead {
    border:none;
}
.arrow-mobile {
    position: absolute;
    width: 30px;
    bottom: 0;
    left: 46%;
    margin-top: 90px;
    margin-bottom: 90px;
}
.arrow {
    position: absolute;
    width: 50px;
    bottom: 0;
    left: 50%;
    margin-top: 90px;
    margin-bottom: 50px;
}

.pd-0{
    padding: 0px;
}
.ultraform p {
    margin-top: 50px;
    font-family: Lato;
    font-size: 17px;
    font-weight: 300;
    color: #333333;
}
.ultraform .form-group {
    width: 220px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ultraform input[placeholder] {
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 8px;
    color: #9b9b9b;
}
.ultraform input {
    margin-bottom: 10px;
}

.ultraform .ultraBuyBtn {
    width: 100%;
    height: auto;
    letter-spacing: 2px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
}
.ultraModalRow {
    padding-right: 30px;
}

@media screen and (max-width: 768px){ 
    .ultraModalRow {
        padding-right: 5px;
    }
    .ultraform p {
        margin-top: 60px;
    }
    .ultraform .ultraBuyBtn {
        width: 70%;
        margin-bottom: 15px;
    }
}

.ultraform small {
    margin-top: 10px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
}

.imgUltraModal {
    height: auto; 
    width: 100%;
}

@media screen and (max-width: 768px){ 
    .imgUltraModal {
        height: 220px;
        width: 100%;
    }

    .modal-body .close {
        padding: 16px;
        position: absolute;
        z-index: 2;
        right: 2px;
        /* float: right; */
    }

    .ultraform p {
        margin-top: 20px;
    }

    .colUltraImg {
        padding-right: 10px;
    }

}

.modal-dialog {
    margin-top: 100px;
}

.modal-body .close {
    padding: 16px;
    position: absolute;
    z-index: 2;
    right: 2px;
    /* float: right; */
}

.livefresh {
    width: 150px;
}

.smallnote {
    color: #ef00fd;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.5px;
}
.ticketRow .ticketTitle .tier {
    color: #ef00fd;
}

#buyModalRegistered .ultraModalRow {
    padding-right: 0px;
}

#buyModalRegistered .ultraform {
    padding: 40px;
    padding-top: 0px;
}

#buyModalRegistered .ultraform .tixClass h6 {   
    font-size: 128px;
    font-weight: 900;
    text-align: center;
    color: #cbd5e25e;
}
#buyModalRegistered .ultraform .tixClass .tixTitle { 
    position: absolute;
    top: 52px;
}
#buyModalRegistered .ultraform .tixClass .tixTitle div {
    height: 60px;
}

#buyModalRegistered .ultraform .tixClass .tixTitle .day{
    font-size: 36px;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
    color: #333333;
    text-align: right;
}
#buyModalRegistered .ultraform .tixClass .tixTitle .combo {
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 17px;
    color: #333333;
    line-height: 18px;
    text-align: left;
}
@media screen and (max-width: 768px){
    #buyModalRegistered .ultraform .tixClass .day {
        font-size: 35px;
    }
    #buyModalRegistered .ultraform .tixClass .combo {
        font-size: 15px;
        line-height: 16px;
    }
    #buyModalRegistered .ultraform .tixClass h6 {
        font-size: 128px;
    }
    #buyModalRegistered .ultraform .tixClass .tixTitle {
        top: 37px;
    }
}


.registeredModal .ultraModalRow {
    padding-right: 0px;
}

.registeredModal .ultraform {
    padding: 40px;
    padding-top: 0px;
}

.registeredModal .ultraform .tixClass h6
{   
    font-size: 128px;
    font-weight: 900;
    text-align: center;
    color: #cbd5e25e;
}
.registeredModal .ultraform .tixClass .tixTitle { 
    position: absolute;
    top: 52px;
}
.registeredModal .ultraform .tixClass .tixTitle div {
    height: 60px;
}

.registeredModal .ultraform .tixClass .tixTitle .day{
    font-size: 36px;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
    color: #333333;
    text-align: right;
}
.registeredModal .ultraform .tixClass .tixTitle .combo {
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 17px;
    color: #333333;
    line-height: 18px;
    text-align: left;
}
@media screen and (max-width: 768px){
    .registeredModal .ultraform .tixClass .day {
        font-size: 35px;
    }
    .registeredModal .ultraform .tixClass .combo {
        font-size: 15px;
        line-height: 16px;
    }
    .registeredModal .ultraform .tixClass h6 {
        font-size: 128px;
    }
    .registeredModal .ultraform .tixClass .tixTitle {
        top: 37px;
    }
}

.text-danger {
    color: #e74c3c !important;
}

#errorModalRegistered .form-control, .input-warning, .select2-search input[type=password] {
    border: 2px solid #e74c3c;
}
#errorModalRegistered form-control, .input-warning::placeholder {
  color: #e74c3c;
}


#failModalRegistered .ultraModalRow {
    padding-right: 0px;
}

#failModalRegistered .ultraform {
    padding: 40px;
    padding-top: 0px;
}

#failModalRegistered .ultraform .tixClass h6
{   
    font-size: 128px;
    font-weight: 900;
    text-align: center;
    color: #cbd5e25e;
}
#failModalRegistered .ultraform .tixClass .tixTitle { 
    position: absolute;
    top: 52px;
}
#failModalRegistered .ultraform .tixClass .tixTitle div {
    height: 60px;
}

#failModalRegistered .ultraform .tixClass .tixTitle .day{
    font-size: 36px;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
    color: #333333;
    text-align: right;
}
#failModalRegistered .ultraform .tixClass .tixTitle .combo {
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 17px;
    color: #333333;
    line-height: 18px;
    text-align: left;
}
@media screen and (max-width: 768px){
    #failModalRegistered .ultraform .tixClass .day {
        font-size: 35px;
    }
    #failModalRegistered .ultraform .tixClass .combo {
        font-size: 15px;
        line-height: 16px;
    }
    #failModalRegistered .ultraform .tixClass h6 {
        font-size: 128px;
    }
    #failModalRegistered .ultraform .tixClass .tixTitle {
        top: 37px;
    }
}
#failModalRegistered .ultraform .lock-img {
    width: 90px;
}
#failModalRegistered .ultraform .failText {
    margin-top: 26px;
    font-size: 21px;
}

#successModalRegistered .ultraModalRow {
    padding-right: 0px;
}

#successModalRegistered .ultraform {
    padding: 40px;
    padding-top: 0px;
}

#successModalRegistered .ultraform .tixClass h6
{   
    font-size: 128px;
    font-weight: 900;
    text-align: center;
    color: #cbd5e25e;
}
#successModalRegistered .ultraform .tixClass .tixTitle { 
    position: absolute;
    top: 52px;
}
#successModalRegistered .ultraform .tixClass .tixTitle div {
    height: 60px;
}

#successModalRegistered .ultraform .tixClass .tixTitle .day{
    font-size: 36px;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
    color: #333333;
    text-align: right;
}
#successModalRegistered .ultraform .tixClass .tixTitle .combo {
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 17px;
    color: #333333;
    line-height: 18px;
    text-align: left;
}
@media screen and (max-width: 768px){
    #successModalRegistered .ultraform .tixClass .day {
        font-size: 35px;
    }
    #successModalRegistered .ultraform .tixClass .combo {
        font-size: 15px;
        line-height: 16px;
    }
    #successModalRegistered .ultraform .tixClass h6 {
        font-size: 128px;
    }
    #successModalRegistered .ultraform .tixClass .tixTitle {
        top: 37px;
    }
}

#successModalRegistered .ultraform .check-img {
    width: 90px;
}
#successModalRegistered .ultraform .textSuccess {
    margin-top: 20px;
    font-size: 21px;
}
#successModalRegistered .ultraBuyBtn {
    width: 260px;
}

.ticketRow .ticketBuy .prices {
    height: auto;
}

.ticketRow .ticketBuy .prices .strikethrougPrice {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
    font-size: 10px;
    float: left;
    position: absolute;
    left: 0;
    top: 10px;
}

.ticketRow .ticketBuy .prices .discountPrice {
    font-size: 20px;
    text-align: right;
    margin-left: 60px;
}

#infoTixModals .ultraModalRow {
    padding-right: 0px;
}

#infoTixModals .ultraform {
    padding: 40px;
    padding-top: 0px;
}

#infoTixModals .ultraform .tixClass
{   
    text-align: center;
}
#infoTixModals .ultraform .tixClass .tixTitle { 
    
}
#infoTixModals .ultraform .tixClass .tixTitle div {
    height: 60px;
}

#infoTixModals .ultraform .tixClass .tixTitle .combo {
    
}

@media screen and (max-width: 768px){
    #infoTixModals .ultraform .tixClass .day {
        font-size: 35px;
    }
    #infoTixModals .ultraform .tixClass .combo {
        font-size: 15px;
        line-height: 16px;
    }
    #infoTixModals .ultraform .tixClass h6 {
        font-size: 128px;
    }
    #infoTixModals .ultraform .tixClass .tixTitle {
        top: 37px;
    }
}

#infoTixModals .ultraform .check-img {
    width: 90px;
}
#infoTixModals .ultraform .textSuccess {
    margin-top: 20px;
    font-size: 21px;
}
#infoTixModals .ultraBuyBtn {
    width: 260px;
}

.faq {
    color: #fff;
    margin-top: 70px;
    padding: 25px 60px;
    width: 55%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.29);
}

.faq .tixOptBtn {
    padding: 12px 80px;
    background-color: #BF69D5;
    margin-left: 10px;
    font-weight: 100;
}

.faq .tixOptBtn:hover {
    color: #fff;
}

@media screen and (max-width: 768px){ 
    .faq {
        margin-top: 10px; 
        width: 90%;
        padding: 20px 0px;
    }
    .faq .tixOptBtn {
        padding: 10px 45px;
    }
}

.info-box {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 15px;
}

.info-box .type {
    color: #CBD5E2;
    font-size: 30px;
    margin: 0;
    margin-top: 30px;
    text-align: center;
}

.info-box .days {
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

.info-box .details {
    background-color: #F7F9FB;
    margin: 25px 17px;
    text-align: left;
    padding-left: 25px;
}

.info-box .details ul {
    list-style-type: none;
    padding: 10px 0;
}

.info-box .details ul li span{
    margin-right: 5px;
    width: 20px;
    text-align: center;
}

.info-box .services {
    margin: 5px 0;
}

.info-box .services .item{
    text-align: center;
}

.info-box .services .item img{
    height: 45px;
    margin-bottom: 5px;
    display: block;
}

.info-box .services .item span{
    font-size: 12px;
    text-align: center;
}

.info-box .copy_text {
    margin-bottom: 20px;
}

.background-ultra {
    background-image: url('/images/ultrasingapore2018/ultra-banner-splash-plain.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 530px;
    }
.sect-logo {
    top: 30%;
}

.logo-block {
    padding-left: 80px;
}

.logo-block .ultra-logo {
    padding-left: 80px;
}

.logo-block .ultra-date {
    padding-left: 20px;
}

.sect-count {
    top: 30%;
    }

.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    }
.countdown-block {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.text-white {
    color: #fff;
    }

.h2-count {
    font-size: 18px;
    }
    
.btn-wrapper {
    margin-top: 10px;
    }
        
@media screen and (max-width: 768px){ 
    .background-ultra {
    background-image: url('/images/ultrasingapore2018/mobile-splash-4.jpg');
    /* height: 665px; */
    height:800px;
    }
    .sect-count {
    margin-top: 4px;
    margin-bottom: 4px;
    }

    .countdown-block {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .open-sans {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
    }

    .text-white {
        color: #fff;
    }

    .h2-count {
        margin-top: 20px;
        font-size: 32px;
    }


    .h2-count-1 {

        margin-top: 80px;
        font-size: 32px;
    }

    .btn-wrapper {
    margin-top: 20px;
    }
}

.ultraBuyBtnYellow {
    width: 250px;
    height: 33px;
    border-radius: 8px;
    background-image: linear-gradient(to left,#FF9900,#FF9900);
    font-family: Lato;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    color: #ffffff;
}