<template>
  <div class="package-details-hotel-wrapper d-flex">
    <div class="package-details-hotel__image" :style="{ backgroundImage: `url('${imagesPath}${hotel.picture}')` }"></div>
    <div class="d-flex flex-column justify-content-between package-details-hotel__info">
      <div class="name">{{hotel.name}}</div>
      <div class="address">{{hotel.address}}</div>
      <div class="description d-none d-md-block">{{hotel.description}}</div>
      <div class="term">{{hotel.days}}-Days {{hotel.nights}}-Nights </div>
      <div class="d-flex features">
        <div class="d-flex align-items-center mr-4" v-for="feature in hotel.features" :key="feature.title">
          <span class="title-icon" :class="feature.icon"></span>
          <span>{{feature.title}}</span>
        </div>        
      </div>
      <div class="about d-none d-md-block">*Rugby World Cup 2019 will be a busy period for Japan. All hotels mentioned in the packages are subject to availability. Should your allocated hotel be unavailable, RedTix ensures a replacement hotel of similar quality.</div>
      <div class="stadium d-none d-md-block">
        <span class="title-icon location"></span>
        <span>Tokyo Stadium - 13.8km or 22mins | International Stadium - 26.9km or 37mins</span>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    name: 'PackageDetailHotel',
    props: {
      hotel: {
        type: Object,
        default: () => ({})
      }
    },
    data() {
      return {

      }
    },
    computed: {
      ...mapGetters([
        'imagesPath',
      ]),
    },
    methods: {

    }
  }
</script>