<template>
    <div class="container mt-5">
        <div class="d-flex align-items-end package-details__price">
            <div class="mr-3">Package Price:</div>
            <div class="d-flex flex-column">
                <span class="from">From only</span>
                <span class="price">RM 6,325</span>
            </div>
        </div>


        <div class="modal fade category-popup" id="categoryDetailsModal2" tabindex="-1" role="dialog"
             aria-labelledby="categoryDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="height: 420px;">
                        <div class="modal fade modal-filters1 show" tabindex="-1" role="dialog" aria-modal="true"
                             style="">
                            <div class="container package-detail-modal__container">
                                <div class="container package-detail-modal__row package-detail-modal__upper-image">
                                    <img class=""
                                         src="/images/rugby2019/packages-detail/rectangle-modal-what-city-r-u-from.png"
                                         height="100%">
                                    <img class="package-detail-modal__row__image-left"
                                         src="/images/rugby2019/packages-detail/modal-what-city-r-u-from-left.png">
                                    <img class="package-detail-modal__row__image-right"
                                         src="/images/rugby2019/packages-detail/modal-what-city-r-u-from-right.png">
                                    <!--                           <img class="package-detail-modal__row__close-x" src="/images/rugby2019/packages-detail/close-x.png" >-->
                                </div>
                                <div class="container package-detail-modal__row" style="padding-top: 0;">
                                    <div style="margin-top: 40px;">
                                        <span class="package-detail-modal__question">What city will you be coming from?</span>
                                    </div>
                                    <div style="margin-top: 30px; color:white">
                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12">
                                                <button
                                                        type="button"
                                                        class="btn btn-gradient package-detail-modal__city"
                                                        v-for="city in cities"
                                                        @click="renderPDF(city)">{{ city }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- PACKAGE FEATURES -->
        <div class="package-details__title text-left mb-4">PACKAGE INCLUDES:</div>
        <div class="d-flex align-items-center package__features" v-for="feature in packageFeatures"
             :key="feature.title">
            <span class="title-icon" :class="feature.icon"></span>
            <span>{{feature.title}}</span>
        </div>

        <div class="d-flex align-items-center package__itinerary">
            <span class="mr-4">Get your itinerary here:</span>

            <a href="#categoryDetailsModal2" data-toggle="modal"
               class="d-flex justify-content-center align-items-center category__info">
                <i class="mr-3">Download Here</i>
            </a>


            <span class="title-icon download" @click="renderPDF"></span>
        </div>

        <!-- TICKETS AVAILABLE -->
        <div class="package-details__title mb-4">TICKETS AVAILABLE</div>
        <div class="package-details__subtitle ">The following fixtures are available within this package</div>
        <div class="package__list">
            <package-detail-ticket v-for="ticket in packageDetails.tickets"
                                   :data-category="ticket.categories"
                                   :key="ticket.id"
                                   :ticket="ticket"
                                   :show-categories="true">
            </package-detail-ticket>
        </div>

        <!-- MAPS -->
        <div class="package-details__title mb-2">MAPS</div>
        <img :src="`${imagesPath}packages-detail/map-banner-${getPackageType(packageDetails.type)}.jpg`"
             class="package-details__map">

        <!-- FLIGHT AVAILABLE -->
        <div class="package-details__title mb-2">FLIGHT AVAILABLE</div>
        <div class="d-flex flex-wrap package__list">
            <package-detail-flight v-for="flight in packageDetails.flights" :key="flight.id"
                                   :flight="flight"></package-detail-flight>
        </div>

        <!-- HOTELS AVAILABLE -->
        <div class="package-details__title mb-2" v-if="packageDetails.hotels.length">HOTELS AVAILABLE</div>
        <div class="package__list">
            <package-detail-hotel v-for="hotel in packageDetails.hotels" :key="hotel.id"
                                  :hotel="hotel"></package-detail-hotel>
        </div>

        <sponsor></sponsor>

        <!-- STICKY FOOTER  -->
        <div id="section-get-package"></div>
        <div class="get-package-sticky fixed">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center get-package">
                    <img :src="`${imagesPath}packages-detail/${getPackageType(packageDetails.type)}-f.jpg`"
                         class="get-package__image d-none d-md-block">
                    <div class="d-flex flex-column get-package__info">
                        <span class="opening text-uppercase d-none d-md-block">{{package_data.title}}</span>
                        <span class="date d-none d-md-block">{{package_data.start_date | moment('DD MMM')}} - {{package_data.end_date | moment('DD MMM YYYY')}}</span>
                        <span class="from">From only:</span>
                        <span class="price">RM {{package_data.total_cost | currencyShort}}</span>
                    </div>
                    <button
                            type="button"
                            class="btn btn-gradient-get-package btn-gradient"
                            @click="getPackage(packageDetails.type)">Get Package
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .package__itinerary {
        cursor: pointer;
    }

    .package-detail-modal__container {
        background: white;
        width: 788px;
        height: auto;
        padding: 0;
    }
    @media only screen and (max-width: 550px){
        .package-detail-modal__container {
            width: 100%;
        }
    }


    @media only screen and (max-width: 550px){
        .package-detail-modal__upper-image {
            max-height: 156px;
        }
    }


    .package-detail-modal__row {
        padding: 0;
        border-top: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        height: 210px;
        text-align: center;
    }

    .package-detail-modal__row__image-left {
        position: absolute;
        top: 25px;
        left: 214px;
    }
    @media only screen and (max-width: 550px) {
        .package-detail-modal__row__image-left {

        }
    }

    .package-detail-modal__row__image-right {
        position: absolute;
        top: 59px;
        left: 320px;
    }
    @media only screen and (max-width: 550px){
        .package-detail-modal__row__image-right {
            position: absolute;
            width: 160px;
            left: 150px;
        }
    }

    .package-detail-modal__row__close-x {
        position: absolute;
        top: 3%;
        left: 95%;
    }

    .package-detail-modal__question {
        /*position: absolute;*/
        /*top: 240px;*/
        /*left: 155px;*/
        /*font-family: 'Consolas', 'sans-serif';*/
        font-size: 30px;
        /*line-height: 34px;*/
        /*display: flex;*/
        /*align-items: center;*/
        /*text-align: center;*/
        /*letter-spacing: 0.05em;*/
        font-weight: bold;
        word-wrap: break-word;
    }

    .package-detail-modal__city {
        margin-left: 5px;
        margin-right: 5px;
    }

    @media only screen and (max-width: 550px){
        .package-detail-modal__city {
            width: 40%;
            margin: 5px;
        }
    }

    @media only screen and (max-width: 550px) {
        #categoryDetailsModal2 {
            width: 100%;
            height: auto;
            /*margin: 0 27px 0 27px;*/
        }

        .package-detail-modal__row__image-left {
            position: absolute;
            left: 50px;
        }

    }


</style>
<script>
    import {mapGetters} from 'vuex';
    import {mixin as clickaway} from 'vue-clickaway'

    export default {
        props: ['package_data', 'package'],
        name: 'PackageDetail',
        data() {
            return {
                packageDetails: {
                    type: this.package[0],
                    tickets: [{}],
                    hotels: [],
                    flights: [{
                        original: {},
                        destination: {}
                    }],
                },//{rr:sdas}
                packageFeatures: [{}],
                categories: [],
                mobileModalIsOpen: false,
                cities: ['Bangkok', 'Jakarta', 'Kuala Lumpur', 'Singapore']
            }
        },
        computed: {
            ...mapGetters([
                'imagesPath',
            ]),
        },
        methods: {
            handleScroll(event) {
                if ($('#section-get-package').offset() && $('#section-get-package').offset().top >= (window.scrollY + window.innerHeight - 70)) {
                    $('.get-package-sticky').addClass('visible');
                } else {
                    $('.get-package-sticky').removeClass('visible');
                }
            },

            getPackageType(value) {
                return value.toUpperCase();
            },

            getPackage(value) {
                window.location = "/rwc2019/packagebuilder/" + value
            },

            fillDataTickets(dataPackage) {
                let data = [{}];
                for (let obj in dataPackage.tickets) {
                    let categories = [];
                    dataPackage.tickets[obj].cat_B ? categories.push('B') : false;
                    dataPackage.tickets[obj].cat_C ? categories.push('C') : false;
                    dataPackage.tickets[obj].cat_D ? categories.push('D') : false;
                    data[obj] = {
                        date: dataPackage.tickets[obj].date,
                        id: dataPackage.tickets[obj].id,
                        group: dataPackage.tickets[obj].group,
                        price: dataPackage.tickets[obj].cat_B,
                        priceC: dataPackage.tickets[obj].cat_C,
                        priceD: dataPackage.tickets[obj].cat_D,
                        categories: categories,
                        participant1_name: dataPackage.tickets[obj].participant1_name,
                        participant1_flag: dataPackage.tickets[obj].participant1_flag,
                        participant2_name: dataPackage.tickets[obj].participant2_name,
                        participant2_flag: dataPackage.tickets[obj].participant2_flag,
                        venue: dataPackage.tickets[obj].venue
                    };
                }
                return data;
            },

            fillDataFlights(dataPackage) {
                let data = [{}];
                for (let obj in dataPackage.flight) {
                    data[obj] = {
                        original: {
                            airport: dataPackage.flight[obj].city_origin.airport,
                            cityAbbr: dataPackage.flight[obj].city_origin.abbr,
                            dt: dataPackage.flight[obj].date_origin_1,
                            dt2: dataPackage.flight[obj].date_origin_2
                        },
                        destination: {
                            airport: dataPackage.flight[obj].city_destination.airport,
                            cityAbbr: dataPackage.flight[obj].city_destination.abbr,
                            dt: dataPackage.flight[obj].date_destination_1,
                            dt2: dataPackage.flight[obj].date_destination_2
                        }
                    };
                }
                return data;
            },

            fillDataHotels(dataPackage) {
                let data = [];
                for (let obj in dataPackage.hotel) {
                    data[obj] = {
                        name: dataPackage.hotel[obj].hotel_name,
                        address: dataPackage.hotel[obj].address,
                        description: dataPackage.hotel[obj].hotel_description,
                        roomType: dataPackage.hotel[obj].roomType,
                        days: dataPackage.hotel[obj].days,
                        nights: dataPackage.hotel[obj].night,
                        picture: dataPackage.hotel[obj].hotel_img,
                        price: dataPackage.hotel[obj].hotel_cost,
                    };
                    let features = dataPackage.hotel[obj].feature;
                    let res = [{}];
                    for (let f in features) {
                        res[f] = {
                            title: features[f].title,
                            icon: features[f].icon
                        };
                    }
                    data[obj].features = res;
                }
                return data;
            },

            fillDataSummaries(dataPackage) {
                let data = [{}];
                let cnt = 0;
                data[cnt++] = {
                    title: 'Return Flight from Selected Cities',
                    icon: 'airplane'
                };
                if (dataPackage.hotel) {
                    data[cnt++] = {
                        title: dataPackage.hotel[0].days + ' Days ' + dataPackage.hotel[0].night + ' Nights ' + dataPackage.hotel[0].hotel_name,
                        icon: 'bed',
                    };
                }
                for (let i in dataPackage.tickets) {
                    data[cnt++] = {
                        title: (dataPackage.tickets[i].participant1_name + ' V ' + dataPackage.tickets[i].participant2_name),
                        icon: 'ticket',
                    };
                }
                data[cnt++] = {
                    title: 'Dedicated redTix online support',
                    icon: 'support',
                };

                return data;
            },

            renderPDF(selectedCity) {
                window.open('/fake/pdf/' + this.package + '/' + selectedCity);
            },
            testAlert() {
                alert('ok');
            }

        },
        mounted() {
            let dataPackage = this.package_data;

            this.packageDetails.tickets = this.fillDataTickets(dataPackage); //fill tickets
            this.packageDetails.flights = this.fillDataFlights(dataPackage); //fill flights
            this.packageDetails.hotels = this.fillDataHotels(dataPackage); //fill hotels
            this.packageFeatures = this.fillDataSummaries(dataPackage); //fill summaries
        },
        created() {
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed() {
            window.removeEventListener('scroll', this.handleScroll);
        },
    }
</script>
